<style type="text/css">
    .slider {
        width: 95%;
        margin: 85px auto 0;
    }

    .slick-slide {		
		margin: 0px;
		width: 234px!important;
    }
    .slick-track {width: 3000px!important;}
    .slick-list {padding-left: 8px;}
    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

    .slick-prev, .slick-next {
    	z-index: 99;
    }
</style>
<div class="wrapper">
<header>
	<nav>
		<div class="row">
			<div class="col-md-2">
				<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
			</div>
			<div class="col-md-10">
				<ul class="menu-principal">
					<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">INTRODUÇÃO</a></li>
					<li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> CONHEÇA A ALICORP</a></li>					
				</ul>
				<ul class="menu-secundario">
					<li class="impar"><a href="modulo-uno.hml" class="notClicked quienes-activo quienes-ant">Quem somos?</a></li><!--
					--><li class="impar"><a href="intro-historia.hml" class="notClicked historia-activo historia-sig historia-ant">História</a></li><!--
					--><li class="impar"><a href="intro-cultura.hml" class="notClicked cultura-activo cultura-sig cultura-ant">Cultura</a></li><!--
					--><li class="impar"><a href="intro-areas.hml" class="notClicked areas-activo areas-sig areas-ant">As áreas</a></li><!--
					--><li class="impar"><a href="intro-marcas.hml" class="notClicked marcas-activo marcas-sig marcas-ant">Marcas</a></li><!--
					--><li class="impar"><a href="intro-reconocimientos.hml" class="notClicked recon-activo recon-sig recon-ant">Reconhecimentos</a></li><!--
					--><li class="impar"><a href="autoevaluacion.hml" class="notClicked autoeval-activo autoeval-sig">Auto avaliação</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class="tarjeta-sans">
	<div class="container-fluid">
		<div class="row">
			<h2 class="title">Estrutura e áreas de negócio<br /><span>Clique com a mãozinha e solte para mover no organograma.</span></h2>
			<div class="slider responsive">
				<div class="areas-item">
					<div class="linea-horizontal mitad-der bg-voscuro"></div>
					<div class="linea-vertical bg-voscuro"></div>
					<a href="#" class="hoja bg-voscuro notClicked" type="button" data-toggle="modal" data-target="#vicePeru">
						<p class="bajar">Vice-presidência do <span>Consumo Massivo Perú</span></p>
					</a>
				</div>
				<div class="areas-item">
					<div class="linea-horizontal bg-voscuro" style="bottom: 196px !important;"></div>
					<div class="linea-vertical bg-voscuro" style="bottom: 182px !important;"></div>
					<div class="bg-dashiy" style="height: 20px;width: 2px;position: absolute;bottom: 72px;left: 50%;"></div>

					<a href="#" class="hoja bg-voscuro notClicked" type="button" data-toggle="modal" data-target="#viceInt">
						<p>Vice-presidência do <span> Consumo Massivo  Internacional</span></p>
					</a>

					<a href="#" class="notClicked direccion-acam" data-toggle="modal" data-target="#dirACAM">
						<p class="bajar verde">Dirección <b>ANCAM</b> </p>
					</a>

				</div>
				<div class="areas-item">
					<div class="linea-horizontal bg-voscuro"></div>
					<div class="linea-vertical bg-voscuro"></div>
					<a href="#" class="hoja bg-voscuro notClicked" type="button" data-toggle="modal" data-target="#viceSol">
						<p class="bajar">Vice-presidência da <span>Alicorp Soluções</span></p>
					</a>
				</div>
				<div class="areas-item">
					<div class="linea-horizontal bg-voscuro"></div>
					<div class="linea-vertical bg-voscuro"></div>
					<a href="#" class="hoja bg-voscuro notClicked" type="button" data-toggle="modal" data-target="#ggVitapro">
						<p class="bajar">Gerência Geral  <br /><span>Vitapro</span></p>
					</a>
				</div>

				<div class="areas-item">
					<div class="linea-horizontal mitad-izq bg-voscuro"></div>
					<div class="linea-horizontal bg-verde"></div>
					<div class="linea-vertical2 bg-verde"></div>
					<a href="#" class="hoja bg-rojo notClicked" type="button" data-toggle="modal" data-target="#gege">
						<p class="bajar"><span>Gerência Geral</span></p>
					</a>
					<a href="#" class="hoja bg-verde notClicked" type="button" data-toggle="modal" data-target="#viceFinanzas">
						<p class="bajar">Vice-presidência corporativa de <span>Finanças</span></p>
					</a>
				</div>

				<div class="areas-item">
					<div class="linea-horizontal bg-verde"></div>
					<div class="linea-vertical bg-verde"></div>
					<a href="#" class="hoja bg-verde notClicked" type="button" data-toggle="modal" data-target="#viceSupply">
						<p>Vice-presidência corporativa de <br /><span>Supply Chain</span></p>
					</a>
				</div>
				<div class="areas-item">
					<div class="linea-horizontal bg-verde"></div>
					<div class="linea-vertical bg-verde"></div>
					<a href="#" class="hoja bg-verde notClicked" type="button" data-toggle="modal" data-target="#viceRH">
						<p> Vice-presidência corporativa de <br /><span>Recursos Humanos</span></p>
					</a>
				</div>
				<div class="areas-item">
					<div class="linea-horizontal bg-verde"></div>
					<div class="linea-vertical bg-verde"></div>
					<a href="#" class="hoja bg-verde notClicked" type="button" data-toggle="modal" data-target="#viceMP">
						<p>Vice-Presidência Corporativa de <br /><span>Materias Primas</span></p>
					</a>
				</div>

				<div class="areas-item">
					<div class="linea-horizontal bg-verde"></div>
					<div class="linea-vertical bg-verde"></div>
					<a href="#" class="hoja bg-verde notClicked" type="button" data-toggle="modal" data-target="#viceAC">
						<p>Vice-Presidência de <br /><span>Assuntos Corporativos</span></p>
					</a>
				</div>

				<div class="areas-item">
					<div class="linea-horizontal bg-dashix"></div>
					<div class="linea-vertical bg-dashiy"></div>
					<a href="#" class="hoja lineal notClicked" type="button" data-toggle="modal" data-target="#dirCE">
						<p class="bajar verde">Gestão Corporativa de <br /><span>Eficiência</span></p>
					</a>
				</div>
				<div class="areas-item">
					<div class="linea-horizontal mitad-izq bg-dashix"></div>
					<div class="linea-vertical bg-dashiy"></div>
					<a href="#" class="hoja lineal notClicked" type="button" data-toggle="modal" data-target="#dirCAI">
						<p class="bajar verde">Direção Corporativa de  <br /><span>Auditoría Interna</span></p>
					</a>
				</div>
				<div class="areas-item">
					
				</div>
			</div>
		</div>
	</div>

	<!-- vicePeru -->
	<div class="modal fade" id="vicePeru" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body">
					<div class="img-frame">
						<img src="img/vip/Patricio Jaramillo - Vicepresidencia de Consumo Masivo Peru.jpg" class="img-responsive">
						<span>Patricio Jaramillo</span>
					</div><!--
					--><div class="text-frame bg-voscuro">
						<p>Nosso foco é conhecer profundamente nossos consumidores para desenvolver um portfólio de produtos de consumo que transformam os mercados no Peru.</p>
					</div>
				</div>
			</div>
			<div class="tri"><img src="img/flecha-5.png" /></div>
		</div>
	</div>
	<!-- viceInt -->
	<div class="modal fade" id="viceInt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body">
					<div class="img-frame">
						<img class="img-responsive bg-verde" src="img/vip/vicec.jpg">
						<span></span>
					</div><!--
					--><div class="text-frame bg-voscuro">
						<p>Replicamos o modelo de negócios da Alicorp na região: continuamos a crescer em relevância e reconhecimento de marca em diferentes países da América Latina.</p>
					</div>
				</div>
			</div>
			<div class="tri"><img src="img/flecha-5.png" /></div>
		</div>
	</div>
	<!-- viceSol -->
	<div class="modal fade" id="viceSol" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body">
					<div class="img-frame">
						<img src="img/vip/Stefan Stern Vicepresidencia de Alicorp Soluciones.jpg" class="img-responsive">
						<span>Stefan Stern</span>
					</div><!--
					--><div class="text-frame peque bg-voscuro">
						<p>Somos responsáveis ​​pela distribuição de soluções integrais voltadas para empresas. Nosso objetivo é criar modelos de negócios que transformam os mercados através de nossos negócios B2B e consultoria de vendas com os quais acompanhamos nossos clientes, além da venda.</p>
					</div>
				</div>
			</div>
			<div class="tri"><img src="img/flecha-5.png" /></div>
		</div>
	</div>
	<!-- ggVitapro -->
	<div class="modal fade" id="ggVitapro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body">
					<div class="img-frame">
						<img src="img/vip/Hugo Carrillo - Vicepresidente de Vitapro.jpg" class="img-responsive">
						<span>Hugo Carrillo</span>
					</div><!--
					--><div class="text-frame peque bg-voscuro">
						<p>Promovemos o crescimento da indústria da aquicultura (no mercado de peixe e camarão) através da criação de valor para os nossos clientes com soluções nutricionais sustentáveis, apoiadas no conhecimento do mercado, suporte técnico e elevados padrões de qualidade.</p>
					</div>
				</div>
			</div>
			<div class="tri"><img src="img/flecha-5.png" /></div>
		</div>
	</div>
	<!-- gege -->
	<div class="modal fade" id="gege" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body">
					<div class="img-frame">
						<img src="img/vip/Alfredo Peirez Gubbins - Gerente General.jpg" class="img-responsive">
						<span>Alfredo Peirez</span>
					</div>
				</div>
			</div>
			<!--<div class="tri"><img src="img/flecha-5.png" /></div>-->
		</div>
	</div>
	<!-- viceFinanzas -->
	<div class="modal fade" id="viceFinanzas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body">
					<div class="img-frame">
						<img src="img/vip/Pedro Malo - Vicepresidencia Corporativa de Finanzas.jpg" class="img-responsive">
						<span>Pedro Malo</span>
					</div><!--
					--><div class="text-frame bg-voscuro">
						<p>Buscamos o equilíbrio econômico da empresa e geramos valor nas relações com nossos investidores</p>
					</div>
				</div>
			</div>
			<div class="tri"><img src="img/flecha-5.png" /></div>
		</div>
	</div>
	<!-- viceSupply -->
	<div class="modal fade" id="viceSupply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body">
					<div class="img-frame">
						<img src="img/vip/Jaime-Butrich-Vicepresidencia-Corporativa-de-Supply-Chain.jpg" class="img-responsive bg-verde">
						<span>Jaime Butrich</span>
					</div><!--
					--><div class="text-frame peque bg-voscuro">
						<p>Resolvemos questões relacionadas à gestão da cadeia produtiva e distribuição da empresa. Adquirimos matérias-primas e insumos com a qualidade e oportunidade necessárias e com os melhores preços. Também garantimos a disponibilidade e entrega pontual de suprimentos para nossos clientes</p>
					</div>
				</div>
			</div>
			<div class="tri"><img src="img/flecha-5.png" /></div>
		</div>
	</div>
	<!-- viceRH -->
	<div class="modal fade" id="viceRH" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body">
					<div class="img-frame">
						<img src="img/vip/Paola Ruchman - VRRHH.jpg" class="img-responsive">
						<span>Paola Ruchman</span>
					</div><!--
					--><div class="text-frame peque bg-voscuro">
						<p>Cuidamos da consecução dos objetivos da organização, fortalecendo o papel dos Recursos Humanos como articulador nos processos, nos identificando como embaixadores culturais que administram crescimento, eficiência e talento.</p>
					</div>
				</div>
			</div>
			<div class="tri"><img src="img/flecha-5.png" /></div>
		</div>
	</div>
	<!-- viceMP -->
	<div class="modal fade" id="viceMP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body">
					<div class="img-frame">
						<img src="img/vip/Luis Estrada VP Commodities - Materias Primas 03.jpg" class="img-responsive">
						<span>Luis Estrada</span>
					</div><!--
					--><div class="text-frame peque bg-voscuro">
						<p>O principal papel da minha equipe é gerenciar as compras e o risco das principais matérias-primas de que a Alicorp precisa. Desenvolvemos um perfil de risco, analisando as informações necessárias para executar uma estratégia eficiente que nos permite manter a execução dos drivers de negócios.</p>
					</div>
				</div>
			</div>
			<div class="tri"><img src="img/flecha-5.png" /></div>
		</div>
	</div>
	<!-- viceAC -->
	<div class="modal fade" id="viceAC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body">
					<div class="img-frame">
						<img src="img/vip/vicem.jpg" class="img-responsive">
						<span>Malena Morales</span>
					</div><!--
					--><div class="text-frame peque bg-voscuro">
						<p>Generamos valor para el negocio velando por el cumplimiento ético y legal y fortaleciendo la reputación de la compañía</p>
					</div>
				</div>
			</div>
			<div class="tri"><img src="img/flecha-5.png" /></div>
		</div>
	</div>
	<!-- dirCE -->
	<div class="modal fade" id="dirCE" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body">
					<div class="img-frame">
						<img src="img/vip/Jose Cabrera - Direccion de Corporativa de  Eficiencias.jpg" class="img-responsive">
						<span>José Cabrera</span>
					</div><!--
					--><div class="text-frame peque bg-voscuro">
						<p>Promovemos uma cultura eficiente, oferecendo aos colaboradores as ferramentas, análises, benchmarks, diretrizes e um modelo de governança que facilitam a análise do nosso investimento, obtendo os melhores resultados.</p>
					</div>
				</div>
			</div>
			<div class="tri"><img src="img/flecha-5.png" /></div>
		</div>
	</div>
	<!-- dirCAI -->
	<div class="modal fade" id="dirCAI" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body">
					<div class="img-frame">
						<img src="img/vip/German Tapia - Auditoria Interna.jpg" class="img-responsive">
						<span>TAPIA ALEMÃO.</span>
					</div><!--
					--><div class="text-frame peque bg-voscuro">
						<p>Avaliamos permanentemente a eficácia e a eficiência dos processos de gestão de riscos, controle e governança da Alicorp e suas subsidiárias, a fim de melhorar e proteger o valor da organização, fornecendo garantia, consultoria e análise com base nos riscos.</p>
					</div>
				</div>
			</div>
			<div class="tri"><img src="img/flecha-5.png" /></div>
		</div>
	</div>

	<!-- dirACAM -->
	<div class="modal fade" id="dirACAM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body">
					<div class="img-frame" style="width: 30% !important;">
						<img src="img/vip/Yevanny.png" class="img-responsive" style="width:100%;height: 154px;">
						<span style="padding: 6px 15px !important;">Yevanny Valverde</span>
					</div><!--
					--><div class="text-frame peque bg-voscuro" style="width: 70% !important;">
						<p>Algumas de nossas presenças são através de exportações do Peru</p>
					</div>
				</div>
			</div>
			<div class="tri"><img src="img/flecha-5.png" /></div>
		</div>
	</div>
</div>
<footer>
	<div class="row">
		<div class="col-md-4">
			<span class="programa">Programa de Inducción</span>
		</div>
		<div class="col-md-4">
			<a href="intro-areas.html" class="anterior"><img src="img/arrow-left.png" /></a>
			<a href="intro-marcas.html" class="siguiente"><img src="img/arrow-right.png" /></a>
		</div>
		<div class="col-md-4">
			<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
		</div>
	</div>
</footer>
</div>

<script type="text/javascript">
	var settings = {
		bodyClass: 'areas',
		wrapperClass: 'wrapper'
	}

	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();
	var firstAudio = document.getElementById("d17.mp3");
	var secondAudio = document.getElementById("d17-01.mp3");
	
	if(firstAudio){
		if(secondAudio){
			firstAudio.onended=function(){secondAudio.play();}
		}
		firstAudio.play();
	}
	

	

	 

	jQuery(document).ready(function(){
		document.body.className  = "areas";
		jQuery(".responsive").slick({
			dots: false,
			infinite: false,
			autoplay: false,
			centerMode: true,
			initialSlide: 5,
			slidesToShow: 4,
			swipeToSlide: true,
			//slidesToScroll: 1,
	  		responsive: [
	    		{
				  breakpoint: 1024,
				  settings: {
					slidesToShow: 4,
					slidesToScroll: 1,
					infinite: false,
					dots: false
				  }
				},
				{
				  breakpoint: 768,
				  settings: {
					slidesToShow: 4,
					slidesToScroll: 1
				  }
				},
				{
				  breakpoint: 480,
				  settings: {
					slidesToShow: 4,
					slidesToScroll: 1
				  }
				}
			  ]
		});
  
	});
</script>