<div class="wrapper autoeval-cultura">
<header>
    <nav>
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
            </div>
            <div class="col-md-10">
                <ul class="menu-principal">
                    <li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">INTRODUÇÃO</a></li>
                    <li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> CONHEÇA A ALICORP</a></li>  
                </ul>
                <ul class="menu-secundario">
                    <li class="impar"><a href="modulo-uno.html" class="notClicked quienes-activo quienes-ant">Quem somos?</a></li><!--
                    --><li class="impar"><a href="intro-historia.html" class="notClicked historia-activo historia-sig historia-ant">História</a></li><!--
                    --><li class="impar"><a href="intro-cultura.html" class="notClicked cultura-activo cultura-sig cultura-ant">Cultura</a></li><!--
                    --><li class="impar"><a href="intro-areas.html" class="notClicked areas-activo areas-sig areas-ant">As áreas</a></li><!--
                    --><li class="impar"><a href="intro-marcas.html" class="notClicked marcas-activo marcas-sig marcas-ant">Marcas</a></li><!--
                    --><li class="impar"><a href="intro-reconocimientos.html" class="notClicked recon-activo recon-sig recon-ant">Reconhecimentos</a></li><!--
                    --><li class="impar"><a href="autoevaluacion.html" class="notClicked autoeval-activo autoeval-sig">Auto avaliação</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="tarjeta-sans">
	<div class="container-fluid">
		<div class="row" id="contexto">
			<h2 class="title">NOSSA CULTURA<br /><span>Leve cada elemento da nossa cultura para o lugar onde corresponde.</span></h2>
			<div class="col-xs-offset-1 col-xs-2">
				<img src="img/valores-1.png" class="img-responsive truco" />
				<img src="img/valores-2.png" class="img-responsive truco" />
				<img src="img/valores-3.png" class="img-responsive truco" />
			</div>

			
			<div class="col-xs-offset-1 col-xs-2">
				<img src="img/valores-4.png" class="img-responsive truco" />
				<img src="img/valores-5.png" class="img-responsive truco" />		
			</div>
			<div class="sobrepuesto">

				<div id="lider-dropzone" class="dropzone lider-dropzone" data-cultura="1" data-avalible="true"></div>	
				<div id="agil-dropzone" class="dropzone" data-cultura="3" data-avalible="true"></div>
				<div id="respeto-dropzone" class="dropzone" data-cultura="4" data-avalible="true"></div>
				<div id="conectados-dropzone" class="dropzone" data-cultura="2" data-avalible="true"></div>
				<div id="confiamos-dropzone" class="dropzone" data-cultura="5" data-avalible="true"></div>

				<div id="agil-drop" class="draggable drag-drop" data-cultura="3">Somos ágeis e flexíveis</div>
				<div id="lider-drop" class="draggable drag-drop prueba" data-cultura="1"><p> lideramos com paixão</p></div>
				<div id="respeto-drop" class="draggable drag-drop" data-cultura="4">Nós respeitamos </div>
				<div id="confiamos-drop" class="draggable drag-drop" data-cultura="5">Nós confiamos </div>
				<div id="conectados-drop" class="draggable drag-drop" data-cultura="2">Estamos conectados</div>
				
			</div>
		</div>
	</div>
	<div class="modal fade " id="pop-up-correcto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body"><div class="text-frame peque ">
						<h4>Respuesta Correcta</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade " id="pop-up-incorrecto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
			<div class="modal-content">
				<div class="modal-body"><div class="text-frame peque ">
						<h4>Respuesta Incorrecta</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer>
    <div class="row">
        <div class="col-md-4">
            <span class="programa">PROGRAMA DE INDUÇÃO</span>
        </div>
        <div class="col-md-4">
            <a href="autoevaluacion-cultura.html" class="anterior"><img src="img/arrow-left.png" /></a>
            <a href="autoevaluacion-cultura2.html" class="siguiente"><img src="img/arrow-rightt.png" /></a>
        </div>
        <div class="col-md-4">
            <span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
        </div>
    </div>
</footer>

</div>
<script type="text/javascript">
	var settings = {
		bodyClass: 'autoeval',
		wrapperClass: 'wrapper autoeval-cultura'
	}
    var audio = document.getElementById("d41.mp3");
    if(audio){
        audio.play();
    }

    $(".draggable").each(function (i, e) {
        $(this).data("init-left", $(this).css("left"));
        $(this).data("init-top", $(this).css("top"));
    });

    function validate() {
    	var numQuestions = $(".dropzone").length;
    	var droppedElems = $(".jq-droped").length;
        var html = "autoevaluacion-cultura2-incorrecto.html";
    	if (numQuestions == droppedElems) {
    		var counter = 0;

    		$(".jq-droped").each( function (i, e) {
    			if ($(this).data("isCorrect")) {
    				counter++;
    			}
    		});

    		if (counter == numQuestions) {
                html = "autoevaluacion-cultura2-correcto.html";    			
    		} 

            jQuery("#container-curso").load(html,function(){});

    	}
    }

    interact('.draggable').draggable({
        inertia: false,
        restrict: {
            restriction: "parent",
            endOnly: false,
            elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
        },
        autoScroll: true,
        onmove: dragMoveListener
    });

    function dragMoveListener (event) {
        if (!$(event.target).hasClass("jq-droped")) {
            var target = event.target,
                x = (parseFloat($(target).css("left")) || 0) + event.dx,
                y = (parseFloat($(target).css("top")) || 0) + event.dy;

            $(target).css("left", x);
            $(target).css("top", y);
        }
    }

    window.dragMoveListener = dragMoveListener;

    interact('.dropzone').dropzone({
        accept: '.drag-drop',
        overlap: 0.5,
        ondropactivate: function (event) {        	
            var $box = $(event.target);
            $box.addClass('drop-active');
        },
        ondragenter: function (event) {

        },
        ondragleave: function (event) {

        },
        ondrop: function (event) {
        	
            var $card = $(event.relatedTarget);
            var $box = $(event.target);
            
            if($box.attr("data-avalible") == "true"){
            	$box.attr("data-avalible","false");
	            var boxPosition = $box.position();
	            $card.addClass("jq-droped");
	            $card.animate({
	                left: boxPosition.left,
	                top: boxPosition.top
	            }, 500);

	            if ($card.data("cultura") == $box.data("cultura")) {
	            	$card.data("isCorrect", true);
	            } else {
	            	$card.data("isCorrect", false);
	            }

	            validate();
            }
        },
        ondropdeactivate: function (event) {
        	
            var $card = $(event.relatedTarget);
            var $box = $(event.target);
            if (!$card.hasClass("jq-droped")) {
                $card
                    .not(".jq-animating")
                    .addClass("jq-animating")
                    .animate({
                        left: $card.data("init-left"),
                        top: $card.data("init-top")
                    }, 500, function () {
                        $card.removeClass("jq-animating");
                    });
            }
            $box.removeClass('drop-active');
        }
    });

    jQuery(document).ready(function(){
        document.body.className  = "autoeval";
    });
</script>