<div class="wrapper autoeval-marcas">
<header>
	<nav>
		<div class="row">
			<div class="col-md-2">
				<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
			</div>
			<div class="col-md-10">
				<ul class="menu-principal">
                    <li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">INTRODUÇÃO</a></li>
                    <li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> CONHEÇA A ALICORP</a></li>  
                </ul>
                <ul class="menu-secundario">
                    <li class="impar"><a href="modulo-uno.html" class="notClicked quienes-activo quienes-ant">Quem somos?</a></li><!--
                    --><li class="impar"><a href="intro-historia.html" class="notClicked historia-activo historia-sig historia-ant">História</a></li><!--
                    --><li class="impar"><a href="intro-cultura.html" class="notClicked cultura-activo cultura-sig cultura-ant">Cultura</a></li><!--
                    --><li class="impar"><a href="intro-areas.html" class="notClicked areas-activo areas-sig areas-ant">As áreas</a></li><!--
                    --><li class="impar"><a href="intro-marcas.html" class="notClicked marcas-activo marcas-sig marcas-ant">Marcas</a></li><!--
                    --><li class="impar"><a href="intro-reconocimientos.html" class="notClicked recon-activo recon-sig recon-ant">Reconhecimentos</a></li><!--
                    --><li class="impar"><a href="autoevaluacion.html" class="notClicked autoeval-activo autoeval-sig">Auto avaliação</a></li>
                </ul>
			</div>
		</div>
	</nav>
</header>
<div class="tarjeta-sans">
	<div class="container-fluid">
		<div class="row">
			<h2 class="title">NOSSAS MARCAS <br /><span>Relacione cada uma das nossas marcas com a sua descrição.</span></h2>
			<div id="div1" class="slogan" ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="zorro">
				<p>Roupas impecáveis ​​e macias</p>
				<div class="dropContainer" data-avalible="true"></div>
			</div>
			<div id="div2" class="slogan" ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="primor">
				<p>Óleo e atum de qualidade</p>
				<div class="dropContainer" data-avalible="true"></div>
			</div>
			<div id="div3" class="slogan" ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="life">
				<p>Flocos de trigo integral e cereais com cranberry</p>
				<div class="dropContainer" data-avalible="true"></div>
			</div>
			<div id="div4" class="slogan" ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="tari">
				<p>Molhos infalíveis que combinam com tudo</p>
				<div class="dropContainer" data-avalible="true"></div>
			</div>
			<div id="div5" class="slogan" ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="salmon">
				<p>Comida de qualidade para salmão</p>
				<div class="dropContainer" data-avalible="true"></div>
			</div>
			<div id="div6" class="slogan" ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="blanca">
				<p>Bizcochos hechos a la medida</p>
				<div class="dropContainer" data-avalible="true"></div>
			</div>
			<div id="div7" class="slogan" ondrop="drop(event)" ondragleave="restart(event)" ondragover="allowDrop(event)" data-part="amalia">
				<p>Celebra buenos momentos</p>
				<div class="dropContainer" data-avalible="true"></div>
			</div>
			<img id="drag6" src="img/autoev-09.png" class="brand" draggable="true" ondragstart="drag(event)" data-part="blanca"/>
			<img id="drag4" src="img/autoev-10.png" class="brand" draggable="true" ondragstart="drag(event)" data-part="tari" />
			<img id="drag1" src="img/autoev-11.png" class="brand" draggable="true" ondragstart="drag(event)" data-part="zorro" />
			<img id="drag5" src="img/autoev-12.png" class="brand" draggable="true" ondragstart="drag(event)" data-part="salmon" />
			<img id="drag2" src="img/autoev-13.png" class="brand" draggable="true" ondragstart="drag(event)" data-part="primor" />
			<img id="drag3" src="img/logolifecereales.png" class="brand" draggable="true" ondragstart="drag(event)" data-part="life" />
			<img id="drag7" src="img/autoev-15.png" class="brand" draggable="true" ondragstart="drag(event)" data-part="amalia"/>
		</div>
	</div>
</div>
<footer>
	<div class="row">
		<div class="col-md-4">
			<span class="programa">PROGRAMA DE INDUÇÃO</span>
		</div>
		<div class="col-md-4">
			<a href="autoevaluacion-cultura2.html" class="anterior"><img src="img/arrow-left.png" /></a>
			<a href="autoevaluacion-marcas.html" class="siguiente"><img src="img/arrow-rightt.png" /></a>
		</div>
		<div class="col-md-4">
			<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
		</div>
	</div>
</footer>
</div>
<script type="text/javascript">
 	var settings = {
		bodyClass: 'autoeval',
		wrapperClass: 'wrapper autoeval-marcas'
	}
	var audio = document.getElementById("d44.mp3");
	if(audio){
		audio.play();
	}

	var totalAnswer  = 7;
	var userAnswer   = 0;
	
	function allowDrop(ev) {		
	    ev.preventDefault();
	}
	
	function drag(ev) {				
	    ev.dataTransfer.setData("text", ev.target.id);
	    ev.dataTransfer.setData("answer", ev.target.getAttribute("data-part"));
	}
	function updateUserAnswer(){
		userAnswer  = 0;
		var elements = document.getElementsByClassName("dropContainer");
		for (var i = 0; i < elements.length; i++) {
			var element = elements[i];			
			if(element.hasChildNodes()){
				element.setAttribute("data-avalible","true");
				userAnswer++;
			}
		}
	}

	function drop(ev) {		
	    ev.preventDefault();
	    var data = ev.dataTransfer.getData("text");
	    if( ev.target.getAttribute("data-avalible") == "true" ){
		   
		    ev.target.setAttribute("data-avalible","false");
		    ev.target.appendChild(document.getElementById(data));
			updateUserAnswer();
			
			if(userAnswer == totalAnswer){
				validate();  				
			}
			
	    }
	    
	    
	}
	function restart(event){		
		event.preventDefault();
		
		var elements = document.getElementsByClassName("dropContainer");		
		var withOutChild = 0;
		for (var i = 0; i < elements.length; i++) {
			var element = elements[i];			
			if(!element.hasChildNodes()){
				element.setAttribute("data-avalible","true");
			}
		}
	}


    function validate() {
    	var valid = true;
    	var dropContainer = document.getElementsByClassName("dropContainer");
    	var html = "autoevaluacion-marcas-incorrecto.html";
    	for (var i = 0; i < dropContainer.length; i++) {
    		var drop = dropContainer[i];
    		var answerContainer = drop.parentNode.getAttribute("data-part"); 
			var childNode = drop.firstChild.getAttribute("data-part");	
			
			if(childNode != answerContainer){
				valid = false;
				break;
			}	
    		
    	}
    	if(valid){
    		html = "autoevaluacion-marcas-correcto.html";
    	}
    	
    	jQuery("#container-curso").load(html,function(){});
    }

	jQuery(document).ready(function(){
		document.body.className  = "autoeval";
	});
    
</script>    