<style>
	.wow:first-child {
		visibility: hidden;
	}
	.opcion-ejercicio{
		position: absolute;
		bottom: 0;
	}
	.texto-descriptivo{
		text-align: left;
		line-height: normal;
		margin-top: 5px;
	}
</style>
<div class="wrapper autoeval-cultura">
<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">Introducción</a></li>
						<li class="col-md-4 paddless"><a href="modulo-uno.html" class="modulo-activo">1 Conociendo Alicorp</a></li>
						<li class="col-md-3 paddless"><a href="nuestros-negocios.html" class="alicorp-activo">2 Nuestros Negocios</a></li>
						<li class="col-md-3 paddless"><a href="#" class="gente-activo">3 Nuestra Gente</a></li>
					</ul>
					<ul class="menu-secundario">
						<li class="impar paddless col-md-3"><a href="#" class="notClicked  quienes-activo quienes-ant">Nuestros negocios </a></li><!--
						--><li class="impar paddless col-md-3"><a href="#" class="notClicked historia-activo historia-sig historia-ant">Cadena de valor</a></li><!--
						--><li class="impar paddless col-md-3"><a href="#" class="notClicked cultura-activo cultura-sig cultura-ant">Ventajas competitivas</a></li><!--
						--><li class="impar paddless col-md-3"><a href="#" class="notClicked areas-activo areas-sig areas-ant">Autoevaluación</a></li><!--
						-->
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="tarjeta-sans">
		<div class="container-fluid">
			<h2 class="title" style="background: none;padding-left: 16px;">Nuestra Areas<br /><span>Lleva a cada colaborador al área a la que creas que pertenece:.</span></h2>

			<div class="row" style="padding-top: 40px;">

			<div class="col-xs-6">
				<div class="col-xs-4" style="padding: 0px;">
					<img src="img/autoev-02.png" class="img-responsive">
				</div>

				<div class="col-xs-8" style="padding: 0px;min-height: 110px;">
					<p class="texto-descriptivo"> 
						¡Hola! Mi área se encarga de los productos para las panaderias,
						restaurantes e  industrias de alimentos.
					</p>
					<select class="form-control opcion-ejercicio" id="option-1"> 
						<option value=""> Seleccione </option>
						<option value="true">Vicepresidencia de Alicorp Soluciones</option>
						<option value="false">Gerencia General Vitapro</option>
						<option value="false">Vicepresidencia Corporativa de Materias Primas</option>
					</select>
				</div>
			</div>
			<div class="col-xs-6">
				
				<div class="col-xs-4" style="padding: 0px;">
					<img src="img/autoev-06.png" class="img-responsive">
				</div>

				<div class="col-xs-8" style="padding: 0px;min-height: 110px;">
					<p class="texto-descriptivo">Hola, soy Andrea y me encargo de ser un socio estratégico
					para mis clientes internos, asesorándolos en todos los gestion 
					de personas
					</p>
					<select class="form-control opcion-ejercicio" id="option-2">
						<option value="">Seleccione</option>
						<option value="true">Vicepresidencia Corporativa de Recursos Humanos</option>
						<option value="false">Vicepresidencia Corporativa de Materias Primas</option>
						<option value="false">Dirección Corporativa de Eficiencia</option>
					</select>
				</div>

			</div>

			</div>
			
			<div class="row" style="margin-top: 30px;">
				<div class="col-xs-6">
					<div class="col-xs-4" style="padding: 0px;">
						<img src="img/autoev-04.png" class="img-responsive">
					</div>
					<div class="col-xs-8"  style="padding: 0px;min-height: 110px;">
						<p class="texto-descriptivo">
						Soy Sofia, que tal, nosotros vemos que se cumplan
						los estándares de calidad.
						</p>
						<select class="form-control opcion-ejercicio" id="option-3">
							<option value=""> Seleccione </option>
							<option value="false">Vicepresidencia Corporativa de Finanzas</option>
							<option vlaue="true">Vicepresidencia Corporativa de Supply Chain</option>
							<option value="false">Vicepresidencia Corporativa de Recursos Humanos</option>
						</select>
					</div>
				</div>
			</div>
	</div>
	<footer>
	<div class="row">
		<div class="col-md-4">
			<span class="programa">PROGRAMA DE INDUÇÃO</span>
		</div>
		<div class="col-md-4">
			<a href="intro-autoevaluacion.html" class="anterior"><img src="img/arrow-left.png" /></a>
			<a href="#" class="siguiente notClicked"><img src="img/arrow-rightt.png" /></a>
		</div>
		<div class="col-md-4">
			<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
		</div>
	</div>
	</footer>
</div>
<script type="text/javascript">

var audio = document.getElementById('ae02.mp3');
if(audio){
	audio.play();
}
var img  = "img/arrow-right.png";
var html = 'autoevaluacion-nuestras-areas-correctos.html';
jQuery('.opcion-ejercicio').on('change',function(event){
	var audioResultado = 'd41-correcto.mp3';
	var flag = true;
	var userAnswer = [];
	var elements = jQuery('.opcion-ejercicio');
	
	for (var i = 0; i < elements.length; i++) {
		var element = jQuery(elements[i]);
		
		if( element && element.val() != ""){
			
			if(element.val() == "false"){
				flag = false;
				audioResultado = 'd41-incorrecto.mp3';
			}
			userAnswer.push(element.val());
		}
		
	}
	if( userAnswer.length == elements.length ){
	
		if(!flag){
			html = 'autoevaluacion-nuestras-areas-incorrectos.html';
		}

		jQuery("#container-curso").load(html,function(){
			document.getElementById(audioResultado).play();
		});
	}


});


</script>