
<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper historia">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="index.html"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">Introducción</a></li>
						<li class="col-md-4 paddless"><a href="modulo-uno.html" class="modulo-activo">1 Conociendo Alicorp</a></li>
						<li class="col-md-3 paddless"><a href="nuestros-negocios.html" class="alicorp-activo">2 Nuestros Negocios</a></li>
						<li class="col-md-3 paddless"><a href="#" class="gente-activo notClicked">3 Nuestra Gente</a></li>
					</ul>
					<ul class="menu-secundario">
						<li class="impar paddless col-md-3">
							<a href="#" class="quienes-activo quienes-ant notClicked">Nuestros negocios </a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="historia-activo historia-sig historia-ant notClicked">Cadena de valor</a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="cultura-activo cultura-sig cultura-ant notClicked">Ventajas competitivas</a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="areas-activo areas-sig areas-ant notClicked">Autoevaluación</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class=" cadena-p">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" >
					<div class="box-pop-up">
						<img src="img/cadena-valor/A_A-modulo-2-parte-2-cadena-de-valor-1-indice.png" alt="">

						<a href="#" class="c-01 notClicked open-modal" type="button" data-audio="cv57.mp3" data-img="img/cadena-valor/A_A-modulo-2-parte-2-cadena-de-valor-2-estudiamos.png"></a>

						<a href="#" class="c-02 notClicked open-modal" data-audio="cv58.mp3" data-img="img/cadena-valor/A_A-modulo-2-parte-2-cadena-de-valor-3-elaboramos.png"></a>

						<a href="#" class="c-03 notClicked open-modal" data-audio="cv59.mp3" data-img="img/cadena-valor/A_A-modulo-2-parte-2-cadena-de-valor-4-nos-planificamos.png"></a
						>
						<a href="#" class="c-04 notClicked open-modal" data-audio="cv60.mp3" data-img="img/cadena-valor/A_A-modulo-2-parte-2-cadena-de-valor-5-manos-a-la-obra.png"></a>

						<a href="#" class="c-05 notClicked open-modal" data-audio="cv61.mp3" data-img="img/cadena-valor/A_A-modulo-2-parte-2-cadena-de-valor-6-iniciamos.png"></a>

						<a href="#" class="c-06 notClicked open-modal" data-audio="cv63.mp3" data-img="img/cadena-valor/A_A-modulo-2-parte-2-cadena-de-valor-8-nos-posicionamos.png"></a>

						<a href="#" class="c-07 notClicked open-modal" data-audio="cv62.mp3" data-img="img/cadena-valor/A_A-modulo-2-parte-2-cadena-de-valor-7-venta.png"></a>

						<a href="#" class="c-08 notClicked open-modal" data-audio="cv64.mp3" data-img="img/cadena-valor/A_A-modulo-2-parte-2-cadena-de-valor-9-distribuimos.png"></a>

						<a href="#" class="c-09 notClicked open-modal" data-audio="cv65.mp3" data-img="img/cadena-valor/A_A-modulo-2-parte-2-cadena-de-valor-10-llegamos-a-ti.png"></a>

					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" data-backdrop="false" id="vicePeru" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1 !important;"><img width="25" height="25" src="img/cerrar-rojo.png" /></button>
				<div class="modal-content">
					<div class="modal-body">
						<img id="img-modal" src="img/cadena-valor/A_A-modulo-2-parte-2-cadena-de-valor-2-estudiamos.png" alt="">
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer>
		<div class="row">
			<div class="col-md-4">
				<span class="programa">PROGRAMA DE INDUÇÃO</span>
			</div>
			<div class="col-md-4">
				<a href="cadena-valor.html" class="anterior"><img src="img/arrow-left.png" /></a>
				<a href="intro-ventajas-competitivas.html" class="siguiente"><img src="img/arrow-right.png" /></a>
			</div>
			<div class="col-md-4">
				<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
			</div>
		</div>
	</footer>
</div>



<script type="text/javascript">	
 	function stopAll(){
 		var elmentsAudio = document.getElementsByClassName("audio-item");
 		for (var i = 0; i < elmentsAudio.length; i++) {
           elmentsAudio[i].pause();
           elmentsAudio[i].currentTime = 0;
  		}
 	}

	var audio = document.getElementById('cv56.mp3');
	
	if(audio){
		audio.play();
	}

	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();

	jQuery(document).ready(function(){
		document.body.className  = "quienes";
	});
	
	jQuery('.open-modal').on('click',function(event){
		
		var element = jQuery(this);
		var img = jQuery('#img-modal');
			img.attr('src','');	
		var audioModal = element.data('audio');
		
		if( element.data('img') && element.data('img')!= ''){
			img.attr('src',element.data('img'));
			jQuery('#vicePeru').modal('show');
		}

		if(audioModal){
			var audioToPlay = document.getElementById(audioModal);
			stopAll();
			audioToPlay.play();
		}
		
	});
	jQuery('#vicePeru').on('hidden.bs.modal', function () {
    	var img = jQuery('#img-modal');
    		img.attr('src','img/A_A-modulo-2-parte-2-cadena-de-valor-2-cargando.png');	
    		stopAll();
	});

	$('.list-course').on('click', function(e) {
        if (!$(this).next('.contenido-cuadro').is(":visible")) {
          $('.list-course.abierto').removeClass('abierto');
          $('.contenido-cuadro:visible').slideUp();
        }
        
        $(this).next('.contenido-cuadro').slideToggle();
        $(this).toggleClass('abierto'); 
        e.preventDefault();
    });


</script>

