<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">INTRODUÇÃO</a></li>
						<li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> CONHEÇA A ALICORP</a></li>					
					</ul>
					<ul class="menu-secundario">
						<li class="impar"><a href="modulo-uno.hml" class="notClicked quienes-activo quienes-ant">Quem somos?</a></li><!--
						--><li class="impar"><a href="intro-historia.hml" class="notClicked historia-activo historia-sig historia-ant">História</a></li><!--
						--><li class="impar"><a href="intro-cultura.hml" class="notClicked cultura-activo cultura-sig cultura-ant">Cultura</a></li><!--
						--><li class="impar"><a href="intro-areas.hml" class="notClicked areas-activo areas-sig areas-ant">As áreas</a></li><!--
						--><li class="impar"><a href="intro-marcas.hml" class="notClicked marcas-activo marcas-sig marcas-ant">Marcas</a></li><!--
						--><li class="impar"><a href="intro-reconocimientos.hml" class="notClicked recon-activo recon-sig recon-ant">Reconhecimentos</a></li><!--
						--><li class="impar"><a href="autoevaluacion.hml" class="notClicked autoeval-activo autoeval-sig">Auto avaliação</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="tarjeta-sans">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<ul class="lista-valores">
						<li class="animated fadeInLeft" style="animation-delay:1s; animation-name:fadeInLeft;">
							<a class="valor notClicked" type="button" value="sound" onclick="playMusic('d14-01.mp3')">
								<img src="img/valores-1.png" class="img-responsive" />
								<h5 class="v-uno">LIDERAMOS COM PAIXÃO</h5>
							</a>
						</li>
						<li class="animated fadeInLeft" style="animation-delay:3s; animation-name:fadeInLeft;">
							<a class="valor notClicked" type="button" value="sound" onclick="playMusic('d14-03.mp3')">
								<img src="img/valores-2.png" class="img-responsive" />
								<h5 class="v-dos">SOMOS ÁGEIS E FLEXÍVEIS</h5>
							</a>
						</li>
						<li class="animated fadeInLeft" style="animation-delay:5s; animation-name:fadeInLeft;">
							<a class="valor notClicked" type="button" value="sound" onclick="playMusic('d14-05.mp3')">
								<img src="img/valores-3.png" class="img-responsive" />
								<h5 class="v-tres">RESPEITAMOS</h5>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<img src="img/bgvalores.png" class="img-responsive bgvalores" />
					<div class="texto-valores">
						<h4 class="verde">Nossa missão</h4>
						<p><span>Transformar os mercados</span> por meio de nossas <span>marcas líderes,</span> gerando <span> experiências extraordinárias</span> para nossos consumidores. Buscamos inovar constantemente para <span>gerar valor e bem estarr</span>  na sociedade.</p>
						<h4 class="verde">Nossa visão</h4>
						<p><span>Seja líder</span> nos <span>mercados</span> em que competimos.</p>
						<h4 class="verde">Pilares Estratégicos</h4>
						<p><span>Crescimento<br />Eficiência<br />Gente</span></p>
					</div>
				</div>
				<div class="col-md-3">
					<ul class="lista-valores">
						<li class="animated fadeInRight" style="animation-delay:2s; animation-name:fadeInRight;">
							<a class="valor notClicked" type="button" value="sound" onclick="playMusic('d14-02.mp3')">
								<img src="img/valores-4.png" class="img-responsive" />
								<h5 class="v-cuatro">ESTAMOS CONECTADOS</h5>
							</a>
						</li>
						<li class="animated fadeInRight" style="animation-delay:4s; animation-name:fadeInRight;">
							<a class="valor notClicked" type="button" value="sound" onclick="playMusic('d14-04.mp3')">
								<img src="img/valores-5.png" class="img-responsive" />
								<h5 class="v-cinco">CONFIAMOS</h5>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer>
	<div class="row">
		<div class="col-md-4">
			<span class="programa">PROGRAMA DE INDUÇÃO</span>
		</div>
		<div class="col-md-4">
			<a href="intro-cultura.html" class="anterior"><img src="img/arrow-left.png" /></a>
			<a href="cultura-video.html" class="siguiente"><img src="img/arrow-right.png" /></a>
		</div>
		<div class="col-md-4">
			<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
		</div>
	</div>
	</footer>
</div>
<script type="text/javascript">
	var settings = {
		bodyClass: 'cultura',
		wrapperClass: 'wrapper'
	}

	var firstAudio  = document.getElementById("d13.mp3");
	var secondAudio = document.getElementById("d13-01.mp3");
	
	if(firstAudio){
		if(secondAudio){
			firstAudio.onended = function(){secondAudio.play();}
		}
		firstAudio.play();
	}

	function stopAllSounds() {
		firstAudio.pause();
		firstAudio.currentTime = 0;
		secondAudio.pause();
		secondAudio.currentTime = 0;
		
		var elmentsAudio = document.getElementsByClassName("audio-item");
		
		for (var i = 0; i < elmentsAudio.length; i++) {       
	       elmentsAudio[i].pause();
	       elmentsAudio[i].currentTime = 0;
		}
	}

	function playMusic(id) {
		var audio = document.getElementById(id);
		if(audio){
			stopAllSounds();
			audio.play();
		}
		
	}


	jQuery(document).ready(function(){
		document.body.className  = "cultura";
	});
</script>