<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper">
<header>
	<nav>
		<div class="row">
			<div class="col-md-2">
				<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
			</div>
			<div class="col-md-10">
				<ul class="menu-principal">
					<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">INTRODUÇÃO</a></li>
					<li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> CONHEÇA A ALICORP</a></li>					
				</ul>
				<ul class="menu-secundario">
					<li class="impar"><a href="modulo-uno.hml" class="notClicked quienes-activo quienes-ant">Quem somos?</a></li><!--
					--><li class="impar"><a href="intro-historia.hml" class="notClicked historia-activo historia-sig historia-ant">História</a></li><!--
					--><li class="impar"><a href="intro-cultura.hml" class="notClicked cultura-activo cultura-sig cultura-ant">Cultura</a></li><!--
					--><li class="impar"><a href="intro-areas.hml" class="notClicked areas-activo areas-sig areas-ant">As áreas</a></li><!--
					--><li class="impar"><a href="intro-marcas.hml" class="notClicked marcas-activo marcas-sig marcas-ant">Marcas</a></li><!--
					--><li class="impar"><a href="intro-reconocimientos.hml" class="notClicked recon-activo recon-sig recon-ant">Reconhecimentos</a></li><!--
					--><li class="impar"><a href="autoevaluacion.hml" class="notClicked autoeval-activo autoeval-sig">Auto avaliação</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class="tarjeta-sans nope">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h2 class="title wow animated fadeInLeft" style="animation-delay:0s; animation-name:fadeInLeft;">Diretrizes de sustentabilidade</h2>
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<ul class="directrices-items">
					<li class="tarjeta wow animated fadeInDown" style="animation-delay:2s; animation-name:fadeInDown;">Altos  <span>padrões</span></li>
					<div class="flechitas wow animated fadeInDown" style="animation-delay:3s; animation-name:fadeInDown;">
						<img src="img/flecha-1.png" />
						<img src="img/flecha-2.png" />
						<img src="img/flecha-3.png" />
					</div>
					<li class="tarjeta wow animated fadeInDown" style="animation-delay:4s; animation-name:fadeInDown;">Nossa <span>equipe</span></li>
					<div class="flechitas wow animated fadeInDown" style="animation-delay:5s; animation-name:fadeInDown;">
						<img src="img/flecha-1.png" />
						<img src="img/flecha-2.png" />
						<img src="img/flecha-3.png" />
					</div>
					<li class="tarjeta wow animated fadeInDown" style="animation-delay:6s; animation-name:fadeInDown;">Ética e <span>transparência</span></li>
					<div class="flechitas wow animated fadeInDown" style="animation-delay:7s; animation-name:fadeInDown;">
						<img src="img/flecha-1.png" />
						<img src="img/flecha-2.png" />
						<img src="img/flecha-3.png" />
					</div>
				</ul>
			</div>
			<div class="col-md-3"></div>
		</div>
		<div class="row directrices-list">
			<div class="col-md-4 wow animated fadeInDown" style="animation-delay:8s; animation-name:fadeInDown;">
				<div class="tarjeta bg-verde">
					<h4>Meio Ambiente e Segurança</h4>
					<p>Usamos eficientemente nossos recursos</p>
				</div>
			</div>
			<div class="col-md-4 wow animated fadeInDown" style="animation-delay:9s; animation-name:fadeInDown;">
				<div class="tarjeta bg-celeste">
					<h4>Saúde e Nutrição</h4>
					<p>Nós promovemos estilos de vida saudáveis</p>
				</div>
			</div>
			<div class="col-md-4 wow animated fadeInDown" style="animation-delay:10s; animation-name:fadeInDown;">
				<div class="tarjeta bg-amarillo">
					<h4>Desenvolvimento da Cadeia de Valor</h4>
					<p>Desenvolvemos o talento do nosso pessoal e somos aliados estratégicos de nossos clientes</p>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="row">
		<div class="col-md-4">
			<span class="programa">PROGRAMA DE INDUÇÃO</span>
		</div>
		<div class="col-md-4">
			<a href="cultura-video.html" class="anterior"><img src="img/arrow-left.png" /></a>
			<a href="intro-areas.html" class="siguiente"><img src="img/arrow-right.png" /></a>
		</div>
		<div class="col-md-4">
			<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
		</div>
	</div>
</footer>
</div>
<script type="text/javascript">
	var settings = {
		bodyClass: 'cultura',
		wrapperClass: 'wrapper'
	}

	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();

	var firstAudio  = document.getElementById("d16-01.mp3");
	var secondAudio = document.getElementById("d16-02.mp3");
	var thirdAudio  = document.getElementById("d16-03.mp3");
	var fourthAudio = document.getElementById("d16-04.mp3");
	
	if(firstAudio){
		if(secondAudio){
			firstAudio.onended = function(){secondAudio.play();}
		}
		if(thirdAudio){
			secondAudio.onended = function(){thirdAudio.play();}
		}
		if(fourthAudio){
			thirdAudio.onended = function(){fourthAudio.play();}
		}
		firstAudio.play();
	}

	jQuery(document).ready(function(){
		document.body.className  = "cultura";
	});
</script>