<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper">
<header>
	<nav>
		<div class="row">
			<div class="col-md-2">
				<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
			</div>
			<div class="col-md-10">
				<ul class="menu-principal">
					<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">INTRODUÇÃO</a></li>
					<li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> CONHEÇA A ALICORP</a></li>					
				</ul>
				<ul class="menu-secundario">
					<li class="impar"><a href="modulo-uno.hml" class="notClicked quienes-activo quienes-ant">Quem somos?</a></li><!--
					--><li class="impar"><a href="intro-historia.hml" class="notClicked historia-activo historia-sig historia-ant">História</a></li><!--
					--><li class="impar"><a href="intro-cultura.hml" class="notClicked cultura-activo cultura-sig cultura-ant">Cultura</a></li><!--
					--><li class="impar"><a href="intro-areas.hml" class="notClicked areas-activo areas-sig areas-ant"> As áreas</a></li><!--
					--><li class="impar"><a href="intro-marcas.hml" class="notClicked marcas-activo marcas-sig marcas-ant">Marcas</a></li><!--
					--><li class="impar"><a href="intro-reconocimientos.hml" class="notClicked recon-activo recon-sig recon-ant">Reconhecimentos</a></li><!--
					--><li class="impar"><a href="autoevaluacion.hml" class="notClicked autoeval-activo autoeval-sig">Auto avaliação</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class="tarjeta-sans">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5">
				<h2 class="title wow animated fadeInLeft" style="animation-delay:0s; animation-name:fadeInLeft;">Expansão: Ampla presença na América Latina</h2>
				<ul class="datos">
					<li class="naranja wow animated fadeInLeft" style="animation-delay:1s; animation-name:fadeInLeft;"><span><img src="img/bull-1.png" /></span> 13 Países</li>
					<li class="rojo wow animated fadeInLeft" style="animation-delay:2.5s; animation-name:fadeInLeft;"><span><img src="img/bull-2.png" /></span> 25 plantas produtivas</li>
					<li class="verde wow animated fadeInLeft" style="animation-delay:4s; animation-name:fadeInLeft;"><span><img src="img/bull-3.png" /></span> 6.500 funcionários</li>
				</ul>
				<span class="info wow animated fadeIn" style="animation-delay:7s; animation-name:fadeIn;">Ventas CAGR 2012-2016:10,3%</span>
				<div class="tarjeta wow animated fadeInLeft" style="animation-delay:6s; animation-name:fadeInLeft;">
					<h4>CRESCIMENTO SUSTENTADO HISTÓRICO (MILHÕES DE SOLES) </h4>
					<img src="img/barras.png" class="img-responsive" />
				</div>
			</div>
			<div class="col-md-7 espacio wow animated fadeInRight" style="animation-delay:8s; animation-name:fadeInRight;">
				<img src="img/ventas.png" class="img-responsive marco" />
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="row">
		<div class="col-md-4">
			<span class="programa">PROGRAMA DE INDUÇÃO</span>
		</div>
		<div class="col-md-4">
			<a href="historia.html" class="anterior"><img src="img/arrow-left.png" /></a>
			<a href="intro-cultura.html" class="siguiente"><img src="img/arrow-right.png" /></a>
		</div>
		<div class="col-md-4">
			<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
		</div>
	</div>
</footer>
</div>
<script type="text/javascript">
	var settings = {
		bodyClass: 'historia',
		wrapperClass: 'wrapper'
	}

	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();

	var firstAudio = document.getElementById("d12-01.mp3");
	var secondAudio = document.getElementById("d12-02.mp3");
	if(firstAudio){
		if(secondAudio){
			firstAudio.onended = function(){secondAudio.play();}
		}
		firstAudio.play();
	}
</script>