<style>	
	.s-final{
		font-size: 37px !important;
	    letter-spacing: 1.1px;
	    color: #7FC241;
	    text-align: center !important;
	    font-weight: bold;
	    margin: 0px;
	}

	.s-final2{
		padding-top: 25px !important;
	    font-size: 30px !important;
	    letter-spacing: 1.1px;
	    font-weight: bold;
	    text-align: center !important;
	    margin: 0px;
	}

</style>

<div class="wrapper autoeval-marcas">
<header>
    <nav>
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
            </div>
            <div class="col-md-10">
                <ul class="menu-principal">
                    <li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">INTRODUÇÃO</a></li>
                    <li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> CONHEÇA A ALICORP</a></li>  
                </ul>
                <ul class="menu-secundario">
                    <li class="impar"><a href="modulo-uno.html" class="notClicked quienes-activo quienes-ant">Quem somos?</a></li><!--
                    --><li class="impar"><a href="intro-historia.html" class="notClicked historia-activo historia-sig historia-ant">História</a></li><!--
                    --><li class="impar"><a href="intro-cultura.html" class="notClicked cultura-activo cultura-sig cultura-ant">Cultura</a></li><!--
                    --><li class="impar"><a href="intro-areas.html" class="notClicked areas-activo areas-sig areas-ant">As áreas</a></li><!--
                    --><li class="impar"><a href="intro-marcas.html" class="notClicked marcas-activo marcas-sig marcas-ant">Marcas</a></li><!--
                    --><li class="impar"><a href="intro-reconocimientos.html" class="notClicked recon-activo recon-sig recon-ant">Reconhecimentos</a></li><!--
                    --><li class="impar"><a href="autoevaluacion.html" class="notClicked autoeval-activo autoeval-sig">Auto avaliação</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="tarjeta-sans">
	<div class="container-fluid">
		<div class="row">
			<div class="content-habilidades">
              	<div class="text-habilidades"><img class="h-left" src="img//h-left.png" alt="">
                	<h2 class="s-final">Completaste exitosamente el Módulo 1</h2>
                	<h3 class="s-final2">¡Sigamos avanzando!</h3>
              	</div>
        	</div>
		</div>
	</div>
</div>
<footer>
	<div class="row">
		<div class="col-md-4">
			<span class="programa">PROGRAMA DE INDUÇÃO</span>
		</div>
		<div class="col-md-4">
			<a href="autoevaluacion-marcas.html" class="anterior"><img src="img/arrow-left.png" /></a>
			<!--<a href="#" class="siguente"><img src="img/arrow-right.png" /></a>-->
			
		</div>
		<div class="col-md-4">
			<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
		</div>
	</div>
</footer>
</div>
  