
<style type="text/css">
    .slider {
        width: 100%;
        margin: 0 auto;
    }

    .slick-slide {
		margin: 8px;
    }
    .slick-list {padding-left: 8px; cursor: move;}
    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
</style>

	
<div class="wrapper">
<header>
	<nav>
		<div class="row">
			<div class="col-md-2">
				<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
			</div>
			<div class="col-md-10">
				<ul class="menu-principal">
					<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">INTRODUÇÃO</a></li>
					<li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> CONHEÇA A ALICORP</a></li>					
				</ul>
				<ul class="menu-secundario">
					<li class="impar"><a href="modulo-uno.hml" class="notClicked quienes-activo quienes-ant">Quem somos?</a></li><!--
					--><li class="impar"><a href="intro-historia.hml" class="notClicked historia-activo historia-sig historia-ant">História</a></li><!--
					--><li class="impar"><a href="intro-cultura.hml" class="notClicked cultura-activo cultura-sig cultura-ant">Cultura</a></li><!--
					--><li class="impar"><a href="intro-areas.hml" class="notClicked areas-activo areas-sig areas-ant"> As áreas</a></li><!--
					--><li class="impar"><a href="intro-marcas.hml" class="notClicked marcas-activo marcas-sig marcas-ant">Marcas</a></li><!--
					--><li class="impar"><a href="intro-reconocimientos.hml" class="notClicked recon-activo recon-sig recon-ant">Reconhecimentos</a></li><!--
					--><li class="impar"><a href="autoevaluacion.hml" class="notClicked autoeval-activo autoeval-sig">Auto avaliação</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class="tarjeta-sans">
	<div class="container-fluid">
		<div class="row" id="playlist">
			<h2 class="title">Nossa história<br /><span>Clique com a mãozinha e solte para mover-se horizontalmente.</span></h2>
			<div class="slider responsive">
			<div class="anchoa">
				<div class="tarjeta">
					<a class="manitos notClicked" type="button" value="sound" onclick="playMusic('d08-03.mp3')"><img src="img/marcas-01.png" class="img-responsive" /></a>
					<span class="verde year">[1971]</span>
					<h4>O Grupo Romero adquire a ANDERSON CLAYTON & COMPANY</h4>
					<p>Empresas produtoras de óleos e gorduras comestíveis, e no mesmo ano passamos a ser chamada de Compañía Industrial Perú Pacífico S.A. (CIPPSA).</p>
				</div>
			</div>
			<div class="anchob">
				<div class="tarjeta horizontal">
					<div class="img-frame">
						<span class="verde year">[1993]</span>

						<a class="manitos notClicked" type="button" value="sound" onclick="playMusic('d08-04.mp3')"><img src="img/marcas-02.png" class="img-responsive" /></a>

					</div>
					<div class="texto-frame">
						<h4>NOS FUNDIMOS COM A CALIXTO ROMERO S.A. E OLEOGINOSAS PISCO S.A </h4>
						<p>	22 anos depois nos fundimos com outras empresas do Grupo Romero dedicadas a produzir óleos, gorduras comestíveis e sabão.</p>
					</div>
				</div>
				<div class="tarjeta horizontal">
					<div class="img-frame">
						<span class="verde year">[1995]</span>

						<a class="manitos notClicked" type="button" value="sound" onclick="playMusic('d08-05.mp3')"><img src="img/marcas-03.png" class="img-responsive" /></a>

					</div>
					<div class="texto-frame">
						<h4>NOS TORNAMOS O PACIFIC CONSORCIO DE ALIMENTOS FABRIL PACÍFICO</h4>
						<p>Adquirimos a La Fabril S.A. empresa dedicada ao desenvolvimento e comercialização de óleos e gorduras comestíveis, sabões, farinha, macarrão e biscoitos; e nós absorvemos Consorcio Distribuidor S.A. Empresa fundada em 1976 pelo Grupo Romero dedicada à comercialização de produtos massivos nacionais e importados de consumo de massa em todo o país. Nós também mudamos o nosso nome: de CIPPSA nós nos tornamos o Pacific Consorcio de Alimentos Fabril Pacífico.</p>
					</div>
				</div>
			</div>
			<div class="anchoc">
				<div class="tarjeta horizontal">
					<div class="img-frame">
						<span class="verde year">[1996]</span>

						<a class="manitos notClicked" type="button" value="sound" onclick="playMusic('d09-01.mp3')"><img src="img/marcas-04.png" class="img-responsive" /></a>

					</div>
					<div class="texto-frame">
						<h4>SE UNEM GRANDES MARCAS COMO NICOLINI E MOLINERA DEL PERU </h4>
						<p>Aumentando nossa participação nas categorias de farinhas, macarrão, alimentos balanceados e cereais.</p>
					</div>
				</div>
				<div class="tarjeta">

					<a class="manos notClicked" type="button" value="sound" onclick="playMusic('d09-02.mp3')"><img src="img/logo04.png" class="img-responsive" /></a>

					<span class="verde year">[1997]</span>
					<h4>COMEÇA NOSSA HISTÓRIA COMO ALICORP S.A.A.</h4>
				</div>
			</div>
			<div class="anchod">
				<div class="tarjeta horizontal">
					<div class="img-frame">
						<span class="verde year">[1999]</span>

						<a class="manitos notClicked" type="button" value="sound" onclick="playMusic('d09-03.mp3')"><img src="img/marcas-05.png" class="img-responsive" /></a>

					</div>
					<div class="texto-frame">
						<h4>COMEÇAMOS A OPERAR O CENTRO DE DISTRIBUIÇÃO CENTRAL (CDC). </h4>
						<p>O CDC consolidou a operação de cinco armazéns que eram administrados independentemente e representou um marco no desenvolvimento de uma de nossas vantagens competitivas, daí nosso modelo de distribuição.</p>
					</div>
				</div>
				<div class="tarjeta horizontal">
					<div class="img-frame">
						<span class="verde year">[2005]</span>

						<a class="manitos notClicked" type="button" value="sound" onclick="playMusic('d09-04.mp3')"><img src="img/marcas-06.png" class="img-responsive" /></a>

					</div>
					<div class="texto-frame">
						<h4>EXPANSÃO AO EQUADOR</h4>
						<p>Continuamos o crescimento de nossas marcas líderes. Também iniciamos nosso processo expansivo no nível da América Latina com o início das operações no Equador.</p>
					</div>
				</div>
			</div>
			<div class="anchod">
				<div class="tarjeta horizontal">
					<div class="img-frame">
						<span class="verde year">[2008]</span>

						<a class="manitos notClicked" type="button" value="sound" onclick="playMusic('d09-05.mp3')"><img src="img/marcas-07.png" class="img-responsive" /></a>

					</div>
					<div class="texto-frame">
						<h4>CHEGAMOS À ARGENTINA E À COLOMBIA</h4>
						<p>Até 2008, chegamos à Argentina graças à The Value Brand Company, uma das empresas mais importantes de produtos de higiene pessoal e produtos de limpeza, nesse mesmo ano também chegamos à Colômbia através da venda de produtos para higiene pessoal.</p>
					</div>
				</div>
				<div class="tarjeta horizontal">
					<div class="img-frame">
						<span class="verde year">[2010]</span>
						<a class="manitos notClicked" type="button" value="sound" onclick="playMusic('d09-06.mp3')"><img src="img/marcas-08.png" class="img-responsive" /></a>

					</div>
					<div class="texto-frame">
						<h4>MARCA OKEBON</h4>
						<p>Continuamos expandindo-nos na Argentina graças à incorporação de marcas de grande história, como biscoitos Okebón, e entramos em novas categorias como bolos e massas.</p>
					</div>
				</div>
			</div>
			<div class="anchod">
				<div class="tarjeta horizontal">
					<div class="img-frame">
						<span class="verde year">[2012]</span>

						<a class="manitos notClicked" type="button" value="sound" onclick="playMusic('d10-01.mp3')"><img src="img/marcas-09.png" class="img-responsive" /></a>

					</div>
					<div class="texto-frame">
						<h4>CHEGAMOS AO CHILE </h4>
						<p>Em 2012, chegamos ao Chile graças ao nosso negócio de Nutrição Animal: a Salmofood, empresa que produz e distribui rações balanceadas para peixes. Uma marca muito próxima dos consumidores, Sayón, se tornou parte da família Alicorp.</p>
					</div>
				</div>
				<div class="tarjeta horizontal">
					<div class="img-frame">
						<span class="verde year">[2013]</span>

						<a class="manitos notClicked" type="button" value="sound" onclick="playMusic('d10-02.mp3')"><img src="img/marcas-10.png" class="img-responsive" /></a>

					</div>
					<div class="texto-frame">
						<h4>CHEGAMOS AO BRASIL</h4>
						<p>Alicorp mais uma vez transcende fronteiras, chegando ao Brasil em 2013. Aqui, o Pastifício Santa Amália, a marca líder em Minas Gerais de sua categoria, se uniu à família Alicorp. </p>
					</div>
				</div>
			</div>
			<div class="anchoe">
				<div class="tarjeta horizontal">
					<div class="img-frame">
						<span class="verde year">[2014]</span>
						<a class="manitos notClicked" type="button" value="sound" onclick="playMusic('d11-01.mp3')"><img src="img/marcas-11.png" class="img-responsive" /></a>

					</div>
					<div class="texto-frame">
						<h4>NUTRIÇÃO ANIMAL EVOLUI A VITAPRO</h4>
						<p>Até 2014, o nosso negócio de Nutrição Animal evoluiu e tornou-se a Vitapro, uma nova empresa, líder em aquícola.</p>
					</div>
				</div>
				<div class="tarjeta horizontal">
					<div class="img-frame">
						<span class="verde year">[2015]</span>

						<a class="manitos notClicked" type="button" value="sound" onclick="playMusic('d11-02.mp3')"><img src="img/marcas-12.png" class="img-responsive" /></a>

					</div>
					<div class="texto-frame">
						<h4>NOSSO NEGÓCIO B2B TORNOU-SE ALICORP SOLUCIONES</h4>
						<p>2015 - Nosso negócio B2B se tornou Alicorp Soluciones, redefinindo sua proximidade ao cliente e focando na geração de valor e na oferta de produtos diferenciados. No final do ano, foi criada a empresa Joint Venture Masterbread focada em brindar soluções em PÃO CONGELADO.</p>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="row">
		<div class="col-md-4">
			<span class="programa">PROGRAMA DE INDUÇÃO</span>
		</div>
		<div class="col-md-4">
			<a href="intro-historia.html" class="anterior"><img src="img/arrow-left.png" /></a>
			<a href="expansion.html" class="siguiente"><img src="img/arrow-right.png" /></a>
		</div>
		<div class="col-md-4">
			<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
		</div>
	</div>
</footer>

</div>
<script type="text/javascript">

	var firstAudio  = document.getElementById('d08-01.mp3');
	var secondAudio = document.getElementById('d08-02.mp3');
	if(firstAudio){
		if(secondAudio){
			firstAudio.onended =function(){secondAudio.play();}
		}
		firstAudio.play();
	}
	function stopAllSounds() {
		firstAudio.pause();
		firstAudio.currentTime = 0;
		var elmentsAudio = document.getElementsByClassName("audio-item");
		for (var i = 0; i < elmentsAudio.length; i++) {       
	       elmentsAudio[i].pause();
	       elmentsAudio[i].currentTime = 0;

		}
	}

	function playMusic(id) {
		stopAllSounds();
		var audioToPlay = document.getElementById(id);
		
		if(audioToPlay){
			audioToPlay.play();
		}
		
	}

	jQuery(document).ready(function(){
		document.body.className  = "historia";

		jQuery(".responsive").slick({
		dots: false,
		infinite: false,
		autoplay: false,
  		//autoplaySpeed: 4000,
		slidesToShow: 1,
		slidesToScroll: 1,
		variableWidth: true,
  		responsive: [
    		{
			  breakpoint: 1024,
			  settings: {
				slidesToShow: 2,
				slidesToScroll: 1,
				infinite: true,
				dots: true
			  }
			},
			{
			  breakpoint: 768,
			  settings: {
				slidesToShow: 2,
				slidesToScroll: 1
			  }
			},
			{
			  breakpoint: 480,
			  settings: {
				slidesToShow: 1,
				slidesToScroll: 1
			  }
			}
		  ]
		});
	});
	//var gojimal = $.noConflict();
	//console.log(gojimal);
	//console.log("slick",slick)
    /*jQuery(document).on('ready', function() {
    	
	
    });*/
</script>