<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">Introducão</a></li>
						<li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> Conhecendo Alicorp</a>
						</li>
					</ul>

					<ul class="menu-secundario">
						<li class="col-md-4 paddless"><a href="intro-bienvenida.html" class="bienvenida-activo bienvenida-ant">Bem-vindo</a></li>
						<li class="col-md-4 paddless"><a href="intro-modulos.html" class="modulos-activo modulos-sig modulos-ant">Módulos</a></li>
						<li class="col-md-4 paddless"><a href="intro-ceo.html" class="ceo-activo ceo-sig">Video do CEO</a></li>
					</ul>

				</div>
			</div>
		</nav>
	</header>
	<div class="tarjeta-sans intro03">
		<h2 class="main-title wow animated fadeInUp" style="animation-delay:0.3s; animation-name:fadeInUp;">O que veremos hoje?</h2>
		<div class="conatiner-fluid">
			<div class="row">
				<div class="col-md-4">
					<div class="hoja wow animated fadeInUp" style="animation-delay:1s; animation-name:fadeInUp;">
						<div class="icon">
							<img src="img/icon-01.png" />
						</div>
						<h3>1 Conhecendo Alicorp</h3>
						<p>Como Alicorp é?</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hoja wow animated fadeInUp" style="animation-delay:3s; animation-name:fadeInUp;">
						<div class="icon">
							<img src="img/icon-02.png" />
						</div>
						<h3>2 Nossos Negócios</h3>
						<p>Como estão nossos negócios e cadeia de valor?</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hoja wow animated fadeInUp" style="animation-delay:5s; animation-name:fadeInUp;">
						<div class="icon">
							<img src="img/icon-03.png" />
						</div>
						<h3>3 Nosso Pessoal</h3>
						<p>Como gerenciamos nosso pessoal?</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="row">
			<div class="col-md-4">
				<span class="programa">PROGRAMA DE INDUÇÃO</span>
			</div>
			<div class="col-md-4">
				<a href="intro-bienvenida.html" class="anterior"><img src="img/arrow-left.png" /></a>
				<a href="intro-ceo.html" class="siguiente"><img src="img/arrow-right.png" /></a>
			</div>
			<div class="col-md-4">
				<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
			</div>
		</div>
	</footer>
</div>
<script type="text/javascript">
	var settings = {
		bodyClass: 'modulos',
		wrapperClass: 'wrapper'
	};
	var firstAudio  = document.getElementById("d04-01.mp3");
	var secondAudio = document.getElementById("d04-02.mp3");
	var thirdAudio  = document.getElementById("d04-03.mp3");
	var fourthAudio = document.getElementById("d04-04.mp3");

	
	if(firstAudio){
		if(secondAudio){
			firstAudio.onended = function(){secondAudio.play();}
		}
		if(thirdAudio){
			secondAudio.onended = function(){thirdAudio.play();}
		}
		if(fourthAudio){
			thirdAudio.onended = function(){fourthAudio.play();}
		}

		firstAudio.play();
	}

	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();
	jQuery(document).ready(function(){
		console.log("aqui");
		document.body.className = "modulos";

	});
</script>