<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">Introducão</a></li>
						<li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> Conhecendo Alicorp</a></li>
					
					</ul>
					<ul class="menu-secundario">
						<li class="col-md-4 paddless"><a href="intro-bienvenida.html" class="bienvenida-activo bienvenida-ant">Bem-vindo</a></li>
						<li class="col-md-4 paddless"><a href="intro-modulos.html" class="modulos-activo modulos-sig modulos-ant">Módulos</a></li>
						<li class="col-md-4 paddless"><a href="intro-ceo.html" class="ceo-activo ceo-sig">Video do CEO</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="tarjeta-sans intro04">
		<video width="640" height="480" controls autoplay>
			<source src="videos/ceo.mp4" type="video/mp4">
				Tu browser no soprta la etiqueta video.
		</video>
	</div>
	<footer>
		<div class="row">
			<div class="col-md-4">
				<span class="programa">PROGRAMA DE INDUÇÃO</span>
			</div>
			<div class="col-md-4">
				<a href="intro-modulos.html" class="anterior"><img src="img/arrow-left.png" /></a>
				<a href="modulo-uno.html" class="siguiente"><img src="img/arrow-right.png" /></a>
			</div>
			<div class="col-md-4">
				<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
			</div>
		</div>
	</footer>
</div>
<script type="text/javascript">
	var settings = {
		bodyClass: 'ceo',
		wrapperClass: 'wrapper'
	}

	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();
	jQuery(document).ready(function(){
		
		document.body.className = "ceo";

	});
</script>