
<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper areas">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="index.html"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">Introducción</a></li>
						<li class="col-md-4 paddless"><a href="modulo-uno.html" class="modulo-activo">1 Conociendo Alicorp</a></li>
						<li class="col-md-3 paddless"><a href="nuestros-negocios.html" class="alicorp-activo">2 Nuestros Negocios</a></li>
						<li class="col-md-3 paddless"><a href="#" class="gente-activo">3 Nuestra Gente</a></li>
					</ul>
					<ul class="menu-secundario">
						<li class="impar paddless col-md-3"><a href="modulo-uno.html" class="quienes-activo quienes-ant">Nuestros negocios </a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-historia.html" class="historia-activo historia-sig historia-ant">Cadena de valor</a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-cultura.html" class="cultura-activo cultura-sig cultura-ant">Ventajas competitivas</a></li><!--
						--><li class="impar paddless col-md-3"><a href="intro-areas.html" class="areas-activo areas-sig areas-ant">Autoevaluación</a></li><!--
						-->
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class=" bg-autoe">
		<div class="container-fluid">
			<div class="row">
				
			</div>
		</div>
	</div>
	
	<footer>
		<div class="row">
			<div class="col-md-4">
				<span class="programa">PROGRAMA DE INDUÇÃO</span>
			</div>
			<div class="col-md-4">
				<a href="ventajas-competitivas2.html" class="anterior"><img src="img/arrow-left.png" /></a>
				<a href="autoevaluacion-nuestras-areas.html" class="siguiente"><img src="img/arrow-right.png" /></a>
			</div>
			<div class="col-md-4">
				<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
			</div>
		</div>
	</footer>
</div>


<script type="text/javascript">


	var audio = document.getElementById("ae01.mp3");
	if(audio){
		audio.play();
	}
	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();

	jQuery(document).ready(function(){
		document.body.className  = "areas";
	});


</script>

