<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">Introducão</a></li>
						<li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> Conhecendo Alicorp</a></li>
					
					</ul>
					<ul class="menu-secundario">
						<li class="col-md-4 paddless"><a href="intro-bienvenida.html" class="bienvenida-activo bienvenida-ant">Bem-vindo</a></li>
						<li class="col-md-4 paddless"><a href="intro-modulos.html" class="modulos-activo modulos-sig modulos-ant">Módulos</a></li>
						<li class="col-md-4 paddless"><a href="intro-ceo.html" class="ceo-activo ceo-sig">Video do CEO</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="tarjeta-sans intro02">
		<img src="img/logo02.png" class="logo02 img-responsive animated fadeInDown" />
		<p class="wow animated fadeInUp" style="animation-delay:0.4s; animation-name:fadeInUp;">Hoje acompanharemos você no início <br> de uma nova etapa  em sua vida profissional </p>
		<p class="seandemo wow animated fadeInUp" style="animation-delay:3s; animation-name:fadeInUp;"> Contamos com sua participação para continuarmos construindo nosso futuro </p>
	</div>
	<footer>
	<div class="row">
		<div class="col-md-4">
			<span class="programa">PROGRAMA DE INDUÇÃO</span>
		</div>
		<div class="col-md-4">			
			<a href="intro-modulos.html" class="siguiente"><img src="img/arrow-right.png" /></a>
		</div>
		<div class="col-md-4">
			<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
		</div>
	</div>
</footer>
</div>

<script type="text/javascript">
	
	var settings = {
		bodyClass: 'bienvenida',
		wrapperClass: 'wrapper'
	}
	jQuery(document).ready(function(){
		document.body.className = 'bienvenida';
	});
	
	var audio = document.getElementById("d03.mp3");
	if(audio){
		audio.play();
	}

	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();
</script>