<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">INTRODUÇÃO</a></li>
						<li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> CONHEÇA A ALICORP</a></li>	
					
					</ul>
					<ul class="menu-secundario">
						<li class="impar"><a href="#" class="notClicked quienes-activo quienes-ant">Quem somos?</a></li><!--
						--><li class="impar"><a href="#" class="notClicked historia-activo historia-sig historia-ant notClicked">História</a></li><!--
						--><li class="impar"><a href="#" class="notClicked cultura-activo cultura-sig cultura-ant">Cultura</a></li><!--
						--><li class="impar"><a href="#" class="notClicked areas-activo areas-sig areas-ant">As áreas</a></li><!--
						--><li class="impar"><a href="#" class="notClicked marcas-activo marcas-sig marcas-ant">Marcas</a></li><!--
						--><li class="impar"><a href="#" class="notClicked recon-activo recon-sig recon-ant ">Reconhecimentos</a></li><!--
						--><li class="impar"><a href="#" class="notClicked autoeval-activo autoeval-sig">Auto avaliação</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="tarjeta-sans">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-7">
					<div class="mapa-frame">
						<img src="img/mapa-br.png" class="img-responsive" />
						<a href="marcas.html" class="enlaces argentina"></a>
						<a href="marcas-ch.html" class="enlaces chile"></a>
						<a href="marcas-pe.html" class="enlaces peru"></a>
						<a href="marcas-ec.html" class="enlaces ecuador"></a>
						<a href="marcas-br.html" class="enlaces brasil"></a>
					</div>
				</div>
				<div class="col-md-5">
					<ul class="marcas-list">
						<li class="wow animated fadeInRight" style="animation-delay:0.6s; animation-name:fadeInRight;">
							<div class="tarjeta">
								<img src="img/pro-19.jpg" class="producto" />
							</div>
							<span class="producto-info">Plusbelle</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="row">
			<div class="col-md-4">
				<span class="programa">PROGRAMA DE INDUÇÃO</span>
			</div>
			<div class="col-md-4">
				<a href="marcas-br.html" class="anterior"><img src="img/arrow-left.png" /></a>
				<a href="intro-reconocimientos.html" class="siguiente"><img src="img/arrow-right.png" /></a>
			</div>
			<div class="col-md-4">
				<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
			</div>
		</div>
	</footer>
</div>
<script src="https://use.fontawesome.com/1a163d64a3.js"></script>
<script type="text/javascript">
	var settings = {
		bodyClass : "marcas",
		identificador: "ali",
		wrapperClass: "wrapper"
	};
	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();
	jQuery(document).ready(function(){
		document.body.className  = "marcas";
	});
</script>
