<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">INTRODUÇÃO</a></li>
						<li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> CONHEÇA A ALICORP</a></li>					
					</ul>
					<ul class="menu-secundario">
						<li class="impar"><a href="modulo-uno.hml" class="notClicked quienes-activo quienes-ant">Quem somos?</a></li><!--
						--><li class="impar"><a href="intro-historia.hml" class="notClicked historia-activo historia-sig historia-ant">História</a></li><!--
						--><li class="impar"><a href="intro-cultura.hml" class="notClicked cultura-activo cultura-sig cultura-ant">Cultura</a></li><!--
						--><li class="impar"><a href="intro-areas.hml" class="notClicked areas-activo areas-sig areas-ant"> As áreas</a></li><!--
						--><li class="impar"><a href="intro-marcas.hml" class="notClicked marcas-activo marcas-sig marcas-ant">Marcas</a></li><!--
						--><li class="impar"><a href="intro-reconocimientos.hml" class="notClicked recon-activo recon-sig recon-ant">Reconhecimentos</a></li><!--
						--><li class="impar"><a href="autoevaluacion.hml" class="notClicked autoeval-activo autoeval-sig">Auto avaliação</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="tarjeta-sans bg-mod01">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<span class="hoja wow animated fedeInLeft" style="animation-delay:0.6s; animation-name:fadeInLeft;">Módulo 1</span>
					<div class="clearfix"></div>
					<h2 class="main-title wow animated fedeInUp" style="animation-delay:1s; animation-name:fadeInUp;">Como Alicorp é?</h2>
				</div>
			</div>
		</div>
		
	</div>
	<footer>
		<div class="row">
			<div class="col-md-4">
				<span class="programa">PROGRAMA DE INDUÇÃO</span>
			</div>
			<div class="col-md-4">
				<a href="intro-ceo.html" class="anterior"><img src="img/arrow-left.png" /></a>
				<a href="quienes-somos.html" class="siguiente"><img src="img/arrow-right.png" /></a>
			</div>
			<div class="col-md-4">
				<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
			</div>
		</div>
	</footer>
</div>


<script type="text/javascript">
	var settings = {
			bodyClass : "quienes",
			identificador: "ali",
			wrapperClass: "wrapper"
		};
	var audio = document.getElementById("d06.mp3");
	if(audio){
		audio.play();
	}
	wow = new WOW(
			{
			animateClass: 'animated',
			offset:       100,
			callback:     function(box) {
				console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
				}
			}
		);
	wow.init();

	jQuery(document).ready(function(){
		document.body.className = "quienes";
		document.body.id = "ali";
	});
</script>