<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper quienes">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="index.html"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">Introducción</a></li>
						<li class="col-md-4 paddless"><a href="modulo-uno.html" class="modulo-activo">1 Conociendo Alicorp</a></li>
						<li class="col-md-3 paddless"><a href="nuestros-negocios.html" class="alicorp-activo">2 Nuestros Negocios</a></li>
						<li class="col-md-3 paddless"><a href="#" class="gente-activo notClicked">3 Nuestra Gente</a></li>
					</ul>
					<ul class="menu-secundario">
						<li class="impar paddless col-md-3">
							<a href="#" class="quienes-activo quienes-ant notClicked">Nuestros negocios </a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="historia-activo historia-sig historia-ant notClicked">Cadena de valor</a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="cultura-activo cultura-sig cultura-ant notClicked">Ventajas competitivas</a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="areas-activo areas-sig areas-ant notClicked">Autoevaluación</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="tarjeta-sans bg-nuestro">
	<div class="overlay black"></div>
		<div class="container-fluid">

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-7 pd-0">
					<span class="hoja wow animated fedeInLeft" style="animation-delay:0.6s; animation-name:fadeInLeft;">Módulo 2</span>
					<div class="clearfix"></div>
					<h2 class="main-title wow animated fedeInUp" style="animation-delay:1s; animation-name:fadeInUp;">¿Cómo son <br> nuestros negocios?</h2>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="row">
			<div class="col-md-4">
				<span class="programa">PROGRAMA DE INDUÇÃO</span>
			</div>
			<div class="col-md-4">
				<a href="final-modulo1.html" class="anterior"><img src="img/arrow-left.png" /></a>
				<a href="nuestros-negocios1.html" class="siguiente"><img src="img/arrow-right.png" /></a>
			</div>
			<div class="col-md-4">
				<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
			</div>
		</div>
	</footer>
</div>

<script type="text/javascript">
	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();

	var audio = document.getElementById('nn50.mp3');
	if(audio){
		audio.play();
	}
	
	jQuery(document).ready(function(){
		document.body.className  = "quienes";		
	});
</script>


