

<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper quienes">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="index.html"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">Introducción</a></li>
						<li class="col-md-4 paddless"><a href="modulo-uno.html" class="modulo-activo">1 Conociendo Alicorp</a></li>
						<li class="col-md-3 paddless"><a href="nuestros-negocios.html" class="alicorp-activo">2 Nuestros Negocios</a></li>
						<li class="col-md-3 paddless"><a href="#" class="gente-activo notClicked">3 Nuestra Gente</a></li>
					</ul>
					<ul class="menu-secundario">
						<li class="impar paddless col-md-3">
							<a href="#" class="quienes-activo quienes-ant notClicked">Nuestros negocios </a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="historia-activo historia-sig historia-ant notClicked">Cadena de valor</a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="cultura-activo cultura-sig cultura-ant notClicked">Ventajas competitivas</a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="areas-activo areas-sig areas-ant notClicked">Autoevaluación</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class=" nuestro">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 pd-0" style="padding: 0 0 0 10px;">
					<div class="tarjeta">
						<div class="modal-center wow animated fedeInLeft" style="animation-delay:0.6s; animation-name:fadeInLeft;">
			              <h1>ÁREAS DE NEGOCIO</h1>
			              <ul>
			                <li><a href="" class="list-course notClicked" data-audio="nn52.mp3" data-image="img/map-02.png"><span>CONSUMO MASIVO</span></a>
			                  <div class="contenido-cuadro">
			                    <p>Es el negocio mediante el cual llegamos directamente a los consumidores cuando <br> nos compran en la bodega, tienda <br> o mercado.</p> 

								<p>En este negocio están nuestras marcas de alimentación, cuidado del hogar y cuidado personal. Tenemos alrededor de 130 marcas en todas las geografías donde operamos.</p>

								<p>Tenemos operaciones en <span>Perú, Argentina, Brasil, Ecuador y Colombia.</span></p>
			                  </div>
			                </li>
			                <li><a href="" class="list-course notClicked" data-audio="nn53.mp3" data-image="img/map-02.png"><span>B2B</span></a>
			                  <div class="contenido-cuadro">
			                    <p>Es el negocio a través del cual llegamos a los consumidores mediante los insumos que vendemos a panaderias, restaurantes e industrias.</p>

								<p>Tenemos alrededor de 30 marcas en las distintas geografías donde operamos.</p>

			                  </div>
			                </li>
			                <li><a href="" class="list-course notClicked" data-audio="nn54.mp3"data-image="img/map-04.png"><span>ACUICULTURA</span></a>
			                  <div class="contenido-cuadro">
			                    <p>Es el negocio en el que producimos y vendemos alimento balanceado para camarones y peces a la industria acuícola. </p>

								<p>Tenemos operaciones en <span>Perú, Chile, Ecuador y Centroamérica.</span></p>

			                  </div>
			                </li>
			              </ul>
			            </div>
			        </div>
				</div>
				<div class="col-md-6" style="padding: 0; ">
					<div class="nuestro-img wow animated fadeInRight" style="animation-delay:1s; animation-name:fadeInRight;">
						<img id="mapa-img" src="img/map-01.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="row">
			<div class="col-md-4">
				<span class="programa">PROGRAMA DE INDUÇÃO</span>
			</div>
			<div class="col-md-4">
				<a href="nuestros-negocios.html" class="anterior"><img src="img/arrow-left.png" /></a>
				<a href="cadena-valor.html" class="siguiente"><img src="img/arrow-right.png" /></a>
			</div>
			<div class="col-md-4">
				<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
			</div>
		</div>
	</footer>
</div>


<script type="text/javascript">

 	function stopAll(){
 		var elmentsAudio = document.getElementsByClassName("audio-item");
 		for (var i = 0; i < elmentsAudio.length; i++) {
           elmentsAudio[i].pause();
           elmentsAudio[i].currentTime = 0;
  		}
 	}
	
	var audio = document.getElementById('nn51.mp3');
	if(audio){
		audio.play();
	}

	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();


	$('.list-course').on('click', function(e) {
        if (!$(this).next('.contenido-cuadro').is(":visible")) {
          $('.list-course.abierto').removeClass('abierto');
          $('.contenido-cuadro:visible').slideUp();
        }
      
        if( ! $(this).hasClass('abierto') ){
        	stopAll();
        	var audioId = $(this).data('audio');        	
        	if(audioId){
  				var audioInterno = document.getElementById(audioId);
  				audioInterno.play();
        	}

        	if($(this).attr('data-image') != jQuery('#mapa-img').attr('src')){
        		jQuery('#mapa-img').attr('src',$(this).attr('data-image'));
        	}
        }
        $(this).next('.contenido-cuadro').slideToggle();
        $(this).toggleClass('abierto'); 
        e.preventDefault();
    });


	jQuery(document).ready(function(){
		document.body.className  = "quienes";		
	});
</script>

