<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
	
<div class="wrapper">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">INTRODUÇÃO</a></li>
						<li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> CONHEÇA A ALICORP</a></li>					
					</ul>
					<ul class="menu-secundario">
						<li class="impar"><a href="modulo-uno.hml" class="notClicked quienes-activo quienes-ant">Quem somos?</a></li><!--
						--><li class="impar"><a href="intro-historia.hml" class="notClicked historia-activo historia-sig historia-ant">História</a></li><!--
						--><li class="impar"><a href="intro-cultura.hml" class="notClicked cultura-activo cultura-sig cultura-ant">Cultura</a></li><!--
						--><li class="impar"><a href="intro-areas.hml" class="notClicked areas-activo areas-sig areas-ant"> As áreas</a></li><!--
						--><li class="impar"><a href="intro-marcas.hml" class="notClicked marcas-activo marcas-sig marcas-ant">Marcas</a></li><!--
						--><li class="impar"><a href="intro-reconocimientos.hml" class="notClicked recon-activo recon-sig recon-ant">Reconhecimentos</a></li><!--
						--><li class="impar"><a href="autoevaluacion.hml" class="notClicked autoeval-activo autoeval-sig">Auto avaliação</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 wow animated fadeInLeft" style="animation-delay:4s; animation-name:fadeInLeft;"><img src="img/somos-2.png" class="img-responsive bordes" /></div>
			<div class="col-md-6 wow animated fadeInDown" style="animation-delay:11s; animation-name:fadeInDown;"><img src="img/somos-3.png" class="img-responsive bordes" /></div>
		</div>
		<div class="row">
			<div class="col-md-6 wow animated fadeInLeft" style="animation-delay:12s; animation-name:fadeInLeft;"><img src="img/somos-1.png" class="img-responsive bordes" /></div>
			<div class="col-md-3 wow animated fadeInUp" style="animation-delay:11s; animation-name:fadeInUp;"><img src="img/somos-4.png" class="img-responsive bordes" /></div>
			<div class="col-md-3 wow animated fadeInRight" style="animation-delay:13s; animation-name:fadeInRight;"><img src="img/somos-5.png" class="img-responsive bordes" /></div>
		</div>
		<div class="row">
			<p class="bg-verde wow animated fadeInDown" style="animation-delay:15s; animation-name:fadeInDown;">
			Buscamos apoia-lo, promovendo o bem-estar e impulsionando-o ao crescimento .</p>
		</div>
		<div class="logo-alicorp wow animated zoomIn" style="animation-delay:.0s; animation-name:zoomIn;"><img src="img/logo03.png" /></div>
	</div>
	<footer>
		<div class="row">
			<div class="col-md-4">
				<span class="programa">PROGRAMA DE INDUÇÃO</span>
			</div>
			<div class="col-md-4">
				<a href="modulo-uno.html" class="anterior"><img src="img/arrow-left.png" /></a>
				<a href="intro-historia.html" class="siguiente"><img src="img/arrow-right.png" /></a>
			</div>
			<div class="col-md-4">
				<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
			</div>
		</div>
	</footer>
</div>
<script type="text/javascript">


		var settings = {
			bodyClass : "quienes",
			identificador: "ali",
			wrapperClass: "wrapper"
		};

		wow = new WOW(
			{
			animateClass: 'animated',
			offset:       100,
			callback:     function(box) {
				console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
				}
			}
		);
		wow.init();
		var firstAudio  = document.getElementById("d07-01.mp3");
		var secondAudio = document.getElementById("d07-02.mp3");
		var thirdAudio  = document.getElementById("d07-03.mp3");
		var fourthAudio = document.getElementById("d07-04.mp3");
		var fifthAudio  = document.getElementById("d07-05.mp3");
		var sixthAudio  = document.getElementById("d07-06.mp3");
		
		if(firstAudio){
			if(secondAudio){
				firstAudio.onended = function(){secondAudio.play();}
			}
			if(thirdAudio){
				secondAudio.onended = function(){thirdAudio.play();}
			}
			if(fourthAudio){
				thirdAudio.onended = function(){fourthAudio.play();}
			}
			if(fifthAudio){
				fourthAudio.onended = function(){fifthAudio.play();}
			}
			if(sixthAudio){
				fifthAudio.onended = function(){sixthAudio.play();}
			}

			firstAudio.play();
		}


</script>

