<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper">
	<header>
	<nav>
		<div class="row">
			<div class="col-md-2">
				<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
			</div>
			<div class="col-md-10">
				<ul class="menu-principal">
					<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">INTRODUÇÃO</a></li>
					<li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> CONHEÇA A ALICORP</a></li>	
				
				</ul>
				<ul class="menu-secundario">
					<li class="impar"><a href="modulo-uno.hml" class="notClicked quienes-activo quienes-ant">Quem somos?</a></li><!--
					--><li class="impar"><a href="intro-historia.hml" class="notClicked historia-activo historia-sig historia-ant">História</a></li><!--
					--><li class="impar"><a href="intro-cultura.hml" class="notClicked cultura-activo cultura-sig cultura-ant">Cultura</a></li><!--
					--><li class="impar"><a href="intro-areas.hml" class="notClicked areas-activo areas-sig areas-ant">As área</a></li><!--
					--><li class="impar"><a href="intro-marcas.hml" class="notClicked marcas-activo marcas-sig marcas-ant">Marcas</a></li><!--
					--><li class="impar"><a href="intro-reconocimientos.hml" class="notClicked recon-activo recon-sig recon-ant">Reconhecimentos</a></li><!--
					--><li class="impar"><a href="autoevaluacion.hml" class="notClicked autoeval-activo autoeval-sig">Auto avaliação</a></li>
				</ul>
			</div>
		</div>
	</nav>
	</header>
	<div class="tarjeta-sans">
		<div class="container-fluid">
			<div class="row">
				<ul class="recon-list notClicked">
					<li class="wow animated fadeInRight notClicked" style="animation-delay:0s; animation-name:fadeInRight;">
						<a href="#" class="notClicked" type="button" data-toggle="modal" data-target="#recUno" value="sound" onclick="playMusic('d29.mp3')">
							<div class="tarjeta">
								<img src="img/recs-01.png" />
							</div>
						</a>
					</li>
					<li class="wow animated fadeInRight notClicked" style="animation-delay:0.3s; animation-name:fadeInRight;">
						<a href="#" class="notClicked" type="button" data-toggle="modal" data-target="#recDos" value="sound" onclick="playMusic('d30.mp3')">
							<div class="tarjeta">
								<img src="img/recs-02.png" />
							</div>
						</a>
					</li>
					<li class="wow animated fadeInRight notClicked" style="animation-delay:0.6s; animation-name:fadeInRight;">
						<a href="#"  class="notClicked" type="button" data-toggle="modal" data-target="#recTres" value="sound" onclick="playMusic('d31.mp3')">
							<div class="tarjeta">
								<img src="img/recs-03.png" />
							</div>
						</a>
					</li>
					<li class="wow animated fadeInRight notClicked" style="animation-delay:0.9s; animation-name:fadeInRight;">
						<a href="#" class="notClicked" type="button" data-toggle="modal" data-target="#recCuatro" value="sound" onclick="playMusic('d32.mp3')">
							<div class="tarjeta">
								<img src="img/recs-04.png" />
							</div>
						</a>
					</li>
					<li class="wow animated fadeInRight notClicked" style="animation-delay:1.2s; animation-name:fadeInRight;">
						<a href="#" class="notClicked" type="button" data-toggle="modal" data-target="#recCinco" value="sound" onclick="playMusic('d33.mp3')">
							<div class="tarjeta">
								<img src="img/recs-05.png" />
							</div>
						</a>
					</li>
					<li class="wow animated fadeInRight notClicked" style="animation-delay:1.5s; animation-name:fadeInRight;">
						<a href="#" class="notClicked" type="button" data-toggle="modal" data-target="#recSeis" value="sound" onclick="playMusic('d34.mp3')">
							<div class="tarjeta">
								<img src="img/recs-06.png" />
							</div>
						</a>
					</li>
					<li class="wow animated fadeInRight notClicked" style="animation-delay:1.8s; animation-name:fadeInRight;">
						<a href="#" class="notClicked" type="button" data-toggle="modal" data-target="#recSiete" value="sound" onclick="playMusic('d35.mp3')">
							<div class="tarjeta">
								<img src="img/recs-07.png" />
							</div>
						</a>
					</li>
					<li class="wow animated fadeInRight notClicked" style="animation-delay:2.1s; animation-name:fadeInRight;">
						<a href="#" class="notClicked" type="button" data-toggle="modal" data-target="#recOcho" value="sound" onclick="playMusic('d36.mp3')">
							<div class="tarjeta">
								<img src="img/recs-08.png" />
							</div>
						</a>
					</li>
					<li class="wow animated fadeInRight notClicked" style="animation-delay:2.5s; animation-name:fadeInRight;">
						<a href="#" class="notClicked" type="button" data-toggle="modal" data-target="#recNueve" value="sound" onclick="playMusic('d37.mp3')">
							<div class="tarjeta">
								<img src="img/recs-11.png" />
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- Uno -->
		<div class="modal fade" id="recUno" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
						<img src="img/recs-01.png">
						<p> A Alicorp é parte do  <span>“Índice de Boa Governança Corporativa 2017”</span>na Bolsa de Valores de Lima, prêmio obtido anualmente desde sua criação em 2008.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Dos -->
		<div class="modal fade" id="recDos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
						<img src="img/recs-02.png">
						<p>Fomos reconhecidos como <span>"Top Mover" no estudo "la Voz del Mercado 2016" </span> realizado pela EY e pela Bolsa de Valores de Lima.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Tres -->
		<div class="modal fade" id="recTres" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
						<img src="img/recs-03.png">
						<p>Pelo sexto ano consecutivo, a revista G de Gestión e a PricewaterhouseCoopers nos reconhecem como uma das  <span>10 empresas mais admiradas do Peru</span>, por nossa estratégia comercial e de marketing.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Cuatro -->
		<div class="modal fade" id="recCuatro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
						<img src="img/recs-04.png">
						<p>A Mapfre nos reconhece como <span>"Melhor Gestão em Saúde e Segurança no Trabalho no Trabalho 2016"</span> no setor de Manufatura. Reconhecendo a melhoria contínua em nossos padrões de segurança e bem-estar para os trabalhadores.</p>

					</div>
				</div>
			</div>
		</div>

		<!-- Cinco -->
		<div class="modal fade" id="recCinco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
						<img src="img/recs-05.png">
						<p>Em 2017, Primor, Bolívar e Don Vittorio foram incluídos no <span>"top 20 das marcas mais valiosas do Peru 2016"</span> ranking "BrandZ" - de acordo com Millward Brown Kantar Group e WPP</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Seis -->
		<div class="modal fade" id="recSeis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
						<img src="img/recs-06.png">
						<p>Em 2017, fomos reconhecidos como a empresa com a melhor Reputação Corporativa no Setor de Alimentos e classificada no TOP 5 do ranking MERCO.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Siete -->
		<div class="modal fade" id="recSiete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
						<img src="img/recs-07.png">
						<p class="costado">Durante 2016, ganhamos três <span>"Silver Effie Awards 2016"</span>, reconhecendo a liderança na gestão de marketing e comunicações:</p>
						<ul class="lista-modal">
							<li><span>Efiie de Plata para Blanca Flor</span> na categoria de Promoção de Produtos.</li>
							<li><span>Effie de Plata para Opal</span>na categoria Produtos</li>
							<li><span>Effie de Plata para Chef</span>na categoria de baixo orçamento, reconhecendo a eficiência de sua campanha.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Ocho -->
		<div class="modal fade" id="recOcho" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
						<img src="img/recs-08.png">
						<P class="costado">Durante 2017, podemos dizer com orgulho que vencemos dois <span>"Effie Gold Award 2017"</span>:</P>
						<ul class="lista-modal">
							<li><span>Effie de Oro na categoria de alimentos</span> para "Lavaggi, o macarrão oficial da seleção".</li>
							<li><span>Efiie de Oro na categoria Media Idea</span> por "uma amiga por trás da estratégia".</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Nueve -->
		<div class="modal fade" id="recNueve" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
						<img src="img/recs-10.png" class="limitar">
						<p><span>A revista Institucional Investors colocou nossa equipe na "Latin America Executive Team 2017".</span>.<br /> Melhor CEO </br> Melhor CFO </br> Melhor Investor Relation Officer </br> Melhor Investor Relations Team</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
	<div class="row">
		<div class="col-md-4">
			<span class="programa">PROGRAMA DE INDUÇÃO</span>
		</div>
		<div class="col-md-4">
			<a href="marcas-br.html" class="anterior"><img src="img/arrow-left.png" /></a>
			<a href="recon-iso.html" class="siguiente"><img src="img/arrow-right.png" /></a>
		</div>
		<div class="col-md-4">
			<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
		</div>
	</div>
	</footer>
</div>		



<script type="text/javascript">

var settings = {
	bodyClass : "recon",
	identificador: "ali",
	wrapperClass: "wrapper" 
};
	


wow = new WOW(
	{
	animateClass: 'animated',
	offset:       100,
	callback:     function(box) {
		console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
		}
	}
);
wow.init();


var firstAudio  = document.getElementById("d28.mp3");
var secondAudio = document.getElementById("d28-01.mp3");

if(firstAudio){
	if(secondAudio){
		firstAudio.onended = function(){
			secondAudio.play();
		}
	}
	firstAudio.play();
}

function stopAllSounds() {
	firstAudio.pause();
	firstAudio.currentTime = 0;
	var elmentsAudio = document.getElementsByClassName("audio-item");
	for (var i = 0; i < elmentsAudio.length; i++) {       
       elmentsAudio[i].pause();
       elmentsAudio[i].currentTime = 0;

	}
}

function playMusic(id) {
	stopAllSounds();
	var audioToPlay = document.getElementById(id);
	
	if(audioToPlay){
		audioToPlay.play();
	}
	
}
jQuery(document).ready(function(){
	document.body.className  = "recon";
});
</script>