
<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>

<div class="wrapper">
<header>
<nav>
	<div class="row">
		<div class="col-md-2">
			<a href="#" class="notClicked"><img src="img/logo01.png" class="img-responsive logo01" /></a>
		</div>
		<div class="col-md-10">
			<ul class="menu-principal">
				<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">INTRODUÇÃO</a></li>
				<li class="col-md-4 paddless"><a href="modulo-uno.html" class="alicorp-activo"> CONHEÇA A ALICORP</a></li>	
			
			</ul>
			<ul class="menu-secundario">
				<li class="impar"><a href="modulo-uno.hml" class="notClicked quienes-activo quienes-ant">Quem somos?</a></li><!--
				--><li class="impar"><a href="intro-historia.hml" class="notClicked historia-activo historia-sig historia-ant">História</a></li><!--
				--><li class="impar"><a href="intro-cultura.hml" class="notClicked cultura-activo cultura-sig cultura-ant">Cultura</a></li><!--
				--><li class="impar"><a href="intro-areas.hml" class="notClicked areas-activo areas-sig areas-ant">As área</a></li><!--
				--><li class="impar"><a href="intro-marcas.hml" class="notClicked marcas-activo marcas-sig marcas-ant">Marcas</a></li><!--
				--><li class="impar"><a href="intro-reconocimientos.hml" class="notClicked recon-activo recon-sig recon-ant">Reconhecimentos</a></li><!--
				--><li class="impar"><a href="autoevaluacion.hml" class="notClicked autoeval-activo autoeval-sig">Auto avaliação</a></li>
			</ul>
		</div>
	</div>
</nav>
</header>
<div class="tarjeta-sans">
	<div class="container-fluid">
		<div class="row">
			<ul class="iso-list">
				<li class="wow animated fadeInLeft" style="animation-delay:0.3s; animation-name:fadeInLeft;">
					<img src="img/iso-01.png" class="iso" />
					<div class="tarjeta wow animated fadeInUp" style="animation-delay:0.6s; animation-name:fadeInUp;">
						<h4>GESTÃO DA QUALIDADE</h4>
						<p>Experiências extraordinárias e produtos de primeira classe.</p>
					</div>
				</li>
				<li class="wow animated fadeInRight" style="animation-delay:0.3s; animation-name:fadeInRight;">
					<img src="img/iso-02.png" class="iso" />
					<div class="tarjeta wow animated fadeInUp" style="animation-delay:0.6s; animation-name:fadeInUp;">
						<h4>GESTÃO AMBIENTAL</h4>
						<p>Pioneiros no uso de gás natural: menos emissões nocivas.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<footer>
	<div class="row">
		<div class="col-md-4">
			<span class="programa">PROGRAMA DE INDUÇÃO</span>
		</div>
		<div class="col-md-4">
			<a href="reconocimientos.html" class="anterior"><img src="img/arrow-left.png" /></a>
			<a href="autoevaluacion.html" class="siguiente"><img src="img/arrow-right.png" /></a>
		</div>
		<div class="col-md-4">
			<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
		</div>
	</div>
</footer>
</div>
<script type="text/javascript">
	var settings = {
		bodyClass : "recon",
		identificador: "ali",
		wrapperClass: "wrapper"
	};
	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();
	var firstAudio  = document.getElementById("d38.mp3");
	var secondAudio = document.getElementById("d39.mp3"); 
	if(firstAudio){
		firstAudio.play();
		if(secondAudio){
			firstAudio.onended = function(){
				secondAudio.play();
			}
		}
	}		
	jQuery(document).ready(function(){
		document.body.className  = "recon";
	});
</script>