

<style>
	.wow:first-child {
		visibility: hidden;
	}
</style>
<div class="wrapper cultura">
	<header>
		<nav>
			<div class="row">
				<div class="col-md-2">
					<a href="index.html"><img src="img/logo01.png" class="img-responsive logo01" /></a>
				</div>
				<div class="col-md-10">
					<ul class="menu-principal">
						<li class="col-md-2 paddless"><a href="intro-bienvenida.html" class="intro-activo">Introducción</a></li>
						<li class="col-md-4 paddless"><a href="modulo-uno.html" class="modulo-activo">1 Conociendo Alicorp</a></li>
						<li class="col-md-3 paddless"><a href="nuestros-negocios.html" class="alicorp-activo">2 Nuestros Negocios</a></li>
						<li class="col-md-3 paddless"><a href="#" class="gente-activo notClicked">3 Nuestra Gente</a></li>
					</ul>
					<ul class="menu-secundario">
						<li class="impar paddless col-md-3">
							<a href="#" class="quienes-activo quienes-ant notClicked">Nuestros negocios </a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="historia-activo historia-sig historia-ant notClicked">Cadena de valor</a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="cultura-activo cultura-sig cultura-ant notClicked">Ventajas competitivas</a>
						</li>
						<li class="impar paddless col-md-3">
							<a href="#" class="areas-activo areas-sig areas-ant notClicked">Autoevaluación</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class=" ventajas-p">
		<div class="container-fluid">
			<div class="row">
				<div class="p-nuestra-cadena">
					<div class="col-md-5">
						<p class="wow animated fedeInLeft" style="animation-delay:1s; animation-name:fadeInLeft;"> Nuestra cadena de valor <br> destaca gracias a nuestras ventajas competitivas. <br> <span>¡Reconócelas!</span></p>
						<div class="recuerda wow animated fedeInLeft" style="animation-delay:55s; animation-name:fadeInLeft;">
							<h3> <span>Recuerda:</span> <br>
							La consolidación de nuestras ventajas competitivas se hace posible gracias a la sinergia de nuestras áreas y equipos, día a día.</h3>
						</div>
					</div>
					<div class="col-md-7">
						<h2>Ventajas competitivas</h2>
						<div class="row">
							
							<div class="col-md-6">
								<div class="s-img wow animated fedeInLeft" id="primer-cuadro" style="animation-delay:1s; animation-name:fadeInLeft;">
									<img src="img/ventajas/A_A-modulo-2-parte-3-ventajas-competitivas-1.png" alt="">
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="s-img wow animated fedeInRight"  id="segundo-cuadro" style="animation-delay:25s; animation-name:fadeInRight;">
									<img src="img/ventajas/A_A-modulo-2-parte-3-ventajas-competitivas-2.png" alt="">
								</div>
							</div>

						</div>
						<div class="row">
							
							<div class="col-md-6">
								<div class="s-img wow animated fedeInLeft"  id="tercer-cuadro" style="animation-delay:38s; animation-name:fadeInLeft;">
									<img src="img/ventajas/A_A-modulo-2-parte-3-ventajas-competitivas-3.png" alt="">
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="s-img wow animated fedeInRight" id="cuarto-cuadro"  style="animation-delay:46s; animation-name:fadeInRight;">
									<img src="img/ventajas/A_A-modulo-2-parte-3-ventajas-competitivas-4.png" alt="">
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" data-backdrop="false" id="vicePeru" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="img/cerrar-verde.png" /></button>
				<div class="modal-content">
					<div class="modal-body">
						<img src="img/cadena-valor/A_A-modulo-2-parte-2-cadena-de-valor-2-estudiamos.png" alt="">
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer>
		<div class="row">
			<div class="col-md-4">
				<span class="programa">PROGRAMA DE INDUÇÃO</span>
			</div>
			<div class="col-md-4">
				<a href="intro-ventajas-competitivas.html" class="anterior"><img src="img/arrow-left.png" /></a>
				<a href="ventajas-competitivas2.html" class="siguiente"><img src="img/arrow-right.png" /></a>
			</div>
			<div class="col-md-4">
				<span class="creditos">Alicorp 2017 © Todos los derechos reservados.</span>
			</div>
		</div>
	</footer>
</div>



<script type="text/javascript">
	var audio  		 = document.getElementById('vc67.mp3');
	var audioPrimer	 = document.getElementById('vc68.mp3');
	var audioSegundo = document.getElementById('vc69.mp3');
	var audioTercero = document.getElementById('vc70.mp3');
	
	if(audio){
		
		if(audioPrimer){
			audio.onended = function() { 
				audioPrimer.play();
			 }
		}
		if(audioSegundo){
			audioPrimer.onended = function(){ 
				audioSegundo.play(); 
			}
		}
		if(audioTercero){
			audioSegundo.onended = function(){ 
				audioTercero.play(); 
			}
		}

		audio.play();

	}

	wow = new WOW(
		{
		animateClass: 'animated',
		offset:       100,
		callback:     function(box) {
			console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
			}
		}
	);
	wow.init();

	jQuery(document).ready(function(){
		document.body.className  = "quienes";
	});


</script>

